<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-label class="title"> Edit Payee Detail </ion-label>
    <p class="detail">You can edit or update the payee detail List.</p>
  </ion-row>
  <form [formGroup]="aForm">

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">Cash Circle ID</p>
          <ion-input type="text" class="input_style" placeholder="Enter Cash Circle ID" formControlName="cashCircle"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
      <!-- error message -->
      <div *ngIf="(cashCircle.invalid && cashCircle.touched) || cashCircle.dirty || submitted" class="error-text">
        <small *ngIf="cashCircle.errors?.required">{{'local_cash_circle.Enter_Cash_Circle_ID'  | translate }}</small>
        <small *ngIf="cashCircle.errors?.minlength">{{'local_cash_circle.cash_circle_id_minlength'  | translate }}</small>
        <small *ngIf="cashCircle.errors?.maxLength">{{'local_cash_circle.cash_circle_id_maxlength'  | translate }}</small>
      </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">Beneficiary Name</p>
          <ion-input type="text" placeholder="Enter Beneficiary Name" class="input_style" formControlName="beneficiaryName"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
      <!-- error message -->
      <div *ngIf="(beneficiaryName.invalid && beneficiaryName.touched) || beneficiaryName.dirty || submitted" class="error-text">
        <small *ngIf="beneficiaryName.errors?.required">{{'local_cash_circle.Enter_Beneficiary_Name'  | translate }}</small>
      </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12"> 
        <div>
          <p class="header-text-purple">Mobile Number</p>
          <ion-input type="text" placeholder="Enter Mobile Number" class="input_style" formControlName="mobileNum"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
      <!-- error message -->
      <div *ngIf="(mobileNum.invalid && mobileNum.touched) || mobileNum.dirty || submitted" class="error-text">
        <small *ngIf="mobileNum.errors?.required">{{'local_cash_circle.Enter_Mobile_Number'  | translate }}</small>
      </div>
    </ion-row>

  </form>
  
  <ion-row class="margin-top-50">
    <ion-button class="btn-main" color="dark" (click)="onSubmit()">Save & Update</ion-button>
  </ion-row>
</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>
