.bg-component{
    background-color: #fdf7e9;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.icon{
    font-size: 50px;
    color: #f1c560;
}

.detail{
    margin-top: 40px;
    font-size: small;
}

.down-icon{
    color: gray;
    font-size: larger;
}

.selected-method{
    border: 1px solid purple;
    height: 100px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin: 0px 20px; 
}
.unselected-method{
    background-color: #f6f6f7;
    height: 100px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger; 
}
.payment-icon{
    font-size: 50px;
}

.content{
    font-size: 14px;
    font-weight: bold;
}

.my-title{
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
}