<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div class="bg-component">
      <img src="../../../assets/images/electricity.png"/>
      <ion-label class="my-title">Prepaid Electricity Bill</ion-label>
    </div>

    <ion-row>
      <ion-label class="detail">Details of your payments</ion-label>
  </ion-row>


<ion-row class="margin-top-20">
  <ion-col>
    <div>
      <p class="header-text-purple">Meter Number</p>
      <ion-label class="content">{{billData.meterNumber}}</ion-label>
     </div>
    </ion-col>

</ion-row>

<ion-row>
  <ion-col>
    <div>
      <p class="header-text-purple">Amount</p>
      <ion-label class="content">{{billData.amount}}</ion-label>
     </div>
    </ion-col>

</ion-row>

<ion-row>
  <ion-col>
    <div>
      <p class="header-text-purple">Payment Mode</p>
      <ion-label class="content">{{billData.PaymentMethod}}</ion-label>
     </div>
    </ion-col>
</ion-row>

<ion-row *ngIf="billData.PaymentMethod == 'Card'">
  <ion-col>
    <div>
      <p class="header-text-purple">Card Number</p>
      <ion-label class="content">{{billData.cardNumber}}</ion-label>
     </div>
    </ion-col>
</ion-row>

<ion-row class="margin-top-50">

<ion-button class="btn-main" color="dark" (click)="onConfirmPay()">Confirm & Pay</ion-button>
</ion-row>
  </div>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
