<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar
      [hideBackBtn]="false"
      [hideUserImg]="false"
      [hideNotification]="false"
      [hideMore]="false"
    ></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="margin-top-20">
    <ion-label class="title">{{'creditdebit.card' | translate}}</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-label class="detail"
      >{{'creditdebit.details' | translate}}</ion-label
    >
  </ion-row>

  <form [formGroup]="aForm">
    <ion-grid size="12">
      <ion-row class="margin-top-20">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">{{'creditdebit.Number' | translate}}</p>
            <ion-input class="input_style"
              type="text"
              placeholder="Enter Card Number"
              formControlName="cardNumber"
              (input)="onCardNumberChange($event)"
            ></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
        <div
          *ngIf="(cardNumber.invalid && cardNumber.touched) || cardNumber.dirty || submitted"
          class="error-text"
        >
          <small *ngIf="cardNumber.errors?.required"
            >{{'cardNumber.Required' | translate}}</small
          >
          <small *ngIf="cardNumber.errors?.minlength"
            >{{'cardNumber.Min_Length' | translate}}</small
          >
          <small *ngIf="cardNumber.errors?.maxlength"
            >{{'cardNumber.Max_Length' | translate}}</small
          >
        </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">{{'creditdebit.Name'| translate}}</p>
            <ion-input class="input_style"
              type="text"
              placeholder="Enter name on Card"
              formControlName="nameOnCard"
            ></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
        <div
          *ngIf="(name.invalid && name.touched) || name.dirty || submitted"
          class="error-text"
        >
          <small *ngIf="name.errors?.required"
            >{{'name.Required' | translate}}</small
          >
          <small *ngIf="name.errors?.minlength"
            >{{'name.Min_Length' | translate}}</small
          >
        </div>
      </ion-row>

      <ion-row class="margin-top-10 vertically-end">
        <ion-col size="6">
          <div>
            <p class="header-text-purple">{{'creditdebit.Exp_Date'| translate}}</p>

            <div class="select-view">
              <ion-select
                placeholder="{{'Select' | translate}}"
                formControlName="expiryMonth"
              >
                <ion-select-option *ngFor="let item of months" [value]="item"
                  >{{item}}</ion-select-option
                >
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <ion-col size="6">
          <div>
            <div class="select-view">
              <ion-select
                placeholder="{{'Select' | translate}}"
                formControlName="expiryYear"
              >
                <ion-select-option *ngFor="let item of years" [value]="item"
                  >{{item}}</ion-select-option
                >
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
        <ion-col size="6">
          <div
            *ngIf="(month.invalid && month.touched) || month.dirty || submitted"
            class="error-text"
          >
            <small *ngIf="month.errors?.required"
              >{{'month.Required' | translate}}</small
            >
          </div>
        </ion-col>

        <ion-col size="6">
          <div
            *ngIf="(year.invalid && year.touched) || year.dirty || submitted"
            class="error-text"
          >
            <small *ngIf="year.errors?.required"
              >{{'year.Required' | translate}}</small
            >
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div class="input">
            <p class="header-text-purple">{{'creditdebit.CVV' | translate}}</p>

            <div class="select-view">
              <ion-input class="input_style" [type]="cvvVisble ? 'text' : 'password'" placeholder="Enter CVV Number" formControlName="cvv"></ion-input>
              <img (click)="cvvVisble = !cvvVisble" src="../../../assets/images/eye.png" />
              <!-- <ion-icon name="eye" class="eye-Icon" size-="50px"></ion-icon> -->
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
      <ion-col>
        
        <div *ngIf="(cvv.invalid && cvv.touched) || cvv.dirty || submitted" class="error-text">
          <small *ngIf="cvv.errors?.required">{{'cvv.Required' | translate}}</small>
          <small *ngIf="cvv.errors?.minlenth">{{'cvv.Invalid' | translate}}</small>
          <small *ngIf="cvv.errors?.maxlength">{{'cvv.Invalid' | translate}}</small>
        </div>
      </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-button class="btn-main" color="dark" (click)="onSubmit()" >{{'Submit' | translate }}</ion-button>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>