<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom" fullscreen="true">
  <div class="bg-component">
    <!-- <ion-icon name="clipboard-outline" color="#f598b3" class="icon"></ion-icon> -->
    <img src="../../../assets/images/telecom-services.png"/>
    <ion-label class="my-title">Telecom Services</ion-label>
  </div>

  

  <ion-grid *ngIf="!detailVisible">
    <form [formGroup]="aForm">

    <ion-row class="margin-top-30">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'Mobile_number' | translate}}</p>

          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="mobileId">
              <ion-select-option *ngFor="let item of mobileNumbers" [value]="item._id">{{item.mobileNumber}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

      <!-- error message -->
  <div *ngIf="(mobileId.invalid && mobileId.touched) || mobileId.dirty || submitted" class="error-text">
    <small *ngIf="mobileId.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
    <small *ngIf="mobileId.errors?.minlength">{{'mobileNumber.Min_Length'  | translate}}</small>
  </div>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'Amount' | translate}}</p>
          <ion-input class="input_styel"  type="number" placeholder="{{'Amount' | translate}}" formControlName="amount"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

       <!-- error message -->
  <div *ngIf="(amount.invalid && amount.touched) || amount.dirty || submitted" class="error-text">
    <small *ngIf="amount.errors?.required">{{'amount.Required' | translate }}</small>
    <small *ngIf="amount.errors?.pattern">{{'amount.Invalid' | translate}}</small>
  </div>

    </ion-row>

  </form>
  </ion-grid>

  <ion-grid *ngIf="detailVisible">
  <ion-row>
      <ion-label class="detail">{{'Details'| translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col>
        <div>
          <p class="header-text-purple">{{'Mobile_num' | translate}}</p>
          <ion-label>{{selectedMobile.mobileNumber}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'Connect' | translate}}</p>
          <ion-label>{{selectedConnectionType}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'Total_Amount' | translate}}</p>
          <ion-label>{{amount.value}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  

    <ion-row class="margin-top-30" style="width: 90%;">
      <ion-col (click)="cardSelected = true">
      <div [class.selected-method]="cardSelected" [class.unselected-method]="!cardSelected">
        <!-- <ion-icon name="card-outline" class="payment-icon"></ion-icon> -->
        <img src="../../../assets/images/credit-card.png"/>
      </div>
    
      <ion-label class="centered centered-text">Card</ion-label>
      
    </ion-col> 
    
    <ion-col (click)="cardSelected = false">
      <div [class.selected-method]="!cardSelected" [class.unselected-method]="cardSelected">
        <img src="../../../assets/images/mobile-wallet.png"/>
      </div>
    
      <ion-label class="centered centered-text">{{'wallet' | translate}}</ion-label>
    </ion-col>
    </ion-row>

  <ion-grid *ngIf="cardSelected">

    <ion-row >
      <ion-col size="12 ">
        <div>
          <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" [(ngModel)]="cardId">
                <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
                <!-- <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item|json}}</ion-select-option> -->
                <!-- {{item|json}} -->
              </ion-select>
              <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
            </div>
            
            <div class="bottomLine"></div>
          </div>
      </ion-col>
    </ion-row>

    <!-- error message -->
<div *ngIf="submitted" class="error-text">
  <small [hidden]="!cardSelected" *ngIf="!cardId">{{'cardNumber.enter_Card_num'  | translate }}</small>
</div>

  </ion-grid>
    
  </ion-grid>

  <ion-row>
    <ion-col size="12">
      <ion-button class="btn-main" color="dark" (click)="onSubmit()">Continue</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
