<ion-content>
  <div class="container">
    <app-header-bar [hideBackBtn]="false"></app-header-bar>

    <div class="margin-top-70">
      <ion-row>
        <ion-label class="title text-align-center">Enter Your New PIN</ion-label>
      </ion-row>
      <ion-row class="margin-top-20" style="padding-left: 15px;">
        <ion-col style="margin-left: 30px;">
          <ion-input class="x" #otp1 required="true" maxLength="1" [(ngModel)]="OTP[0]"
            (keyup)="otpController($event,otp2,'')" type="number">

          </ion-input>
          <ion-input class="x" #otp2 required="true" maxLength="1" [(ngModel)]="OTP[1]"
            (keyup)="otpController($event,otp3,otp1)" type="number">
          </ion-input>
          <ion-input class="x" #otp3 required="true" maxLength="1" [(ngModel)]="OTP[2]"
            (keyup)="otpController($event,otp4,otp2)" type="number">
          </ion-input>

          <ion-input class="x" #otp4 required="true" maxLength="1" [(ngModel)]="OTP[3]"
            (keyup)="otpController($event,'',otp3)" type="number">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row style="margin: 0 40px">
        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('1')">
            <ion-label>1</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('2')">
            <ion-label>2</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('3')">
            <ion-label>3</ion-label>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row style="margin: 0 40px">
        <ion-col size="4" (click)="numberPressed('4')">
          <ion-card class="shadow-btn">
            <ion-label>4</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('5')">
            <ion-label>5</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('6')">
            <ion-label>6</ion-label>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row style="margin: 0 40px">
        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('7')">
            <ion-label>7</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('8')">
            <ion-label>8</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('9')">
            <ion-label>9</ion-label>
          </ion-card>
        </ion-col>

      </ion-row>

      <ion-row style="margin: 0 40px">
        <ion-col size="4">

        </ion-col>

        <ion-col size="4">
          <ion-card class="shadow-btn" (click)="numberPressed('0')">
            <ion-label>0</ion-label>
          </ion-card>
        </ion-col>

        <ion-col size="4" class="centered" (click)="numberdeleted()">
          <ion-label>Delete</ion-label>
        </ion-col>

      </ion-row>

    </div>

    <ion-row class="margin-top-20">
      <ion-button class="btn-main" (click)="onConfirm()">Confirm & Save</ion-button>
    </ion-row>


  </div>


</ion-content>