.shadow-btn{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  //  border:  1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 21px;
}

.x{
  display:inline-block;
  width:45px;
  height:50px;
  margin:10px;
  text-align: center;
  border-radius: 20%;
  --background:#f1edff;
  padding-top: 5px;
//  --padding-start:7px;
  font-size: 17px;
  color: black;
}