.success-title{
    color: white;
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
}

.success-message{
    color: white;
    font-size: 11px;
    margin: auto;
    margin-top: 10px;
    font-weight: 600;
}

.scan-another-view{
    background-color: gray;
    height: 50px;
    margin: 20;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.btn-raw{
    padding-left: 20px;
    padding-right: 20px;
}

.finished{
    height: 50px;
    margin: 20; 
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--ion-color-primary);
    margin: auto;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    margin: 0px 25px;
    //background-image: linear-gradient(64deg, #653EFF 0%, #423E74 100%);
}

.round-bg{
    background-color: #4E4784;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    margin: auto;
    align-self: center;
}

.check-circle{
    margin-left: 25px;
    margin-top: 50px;
}

.round-dot {
    background-color: #653EFF;
    position: absolute;
}

.big-dot {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    top: 10%;
    right: -10%;
}

.small-dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    top: 25%;
    left: -20%;
}

.x-small-dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    bottom: 5%;
    left: -20%;
}

.small-dot2 {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    bottom: -8%;
    right: 45%;
}

.ring {
    border: 2px solid #653EFF;
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 7.5px;
    position: absolute;
}

.text-color-white {
    color: white;
}

.dark{
    background-color: var(--ion-color-dark);
    width: 100%;
    height: 100%; 
}