<ion-content>
    <div cla ss="dark ion-padding" >
        <div class="main-content relative">

            <div class="centered round-bg">
                <div class="relative">
                    <img src="../../../assets/images/receipt.png" />

                    <div class="round-dot big-dot"></div>

                    <div class="round-dot small-dot"></div>

                    <div class="round-dot small-dot"></div>

                    <div class="round-dot x-small-dot"></div>

                    <div class="round-dot small-dot2"></div>
                    <!-- <img src="../../../assets/images/check-green-filled.png" class="check-circle"/>   -->
                </div>
                
            </div>

            <!-- <div class="ring"> </div> -->

            
            <ion-label>
               <h2 class="success-title">Successful Payment</h2>
               <p class="success-message">Your payment of 30$ has been completed</p>
            </ion-label>

            <ion-row class="margin-top-50 flex-column" style="width: 85%;">
                <ion-button color="dark">Scan Another QR Code</ion-button>
                <ion-button color="white" fill="outline" class="finished">Finished</ion-button>
            </ion-row>
            
        </div>
    </div>     
        
    <!-- <div class="modal-view">
    <ion-row>
        <ion-text class="success-title">Successful Payment</ion-text>
        <ion-text class="success-message">Your payment of 30$ has been completed</ion-text>
      </ion-row>

      <ion-row class="btn-raw margin-top-100"> 
        <div class="scan-another-view">
          <ion-label>Scan Another QR Code</ion-label>
        </div>
      </ion-row>

      <ion-row class="btn-raw margin-top-30">
        <div class="finished">
          <ion-label>Finished</ion-label>
        </div>
      </ion-row>
    </div> -->
</ion-content>
<ion-footer>
    <app-footer></app-footer>
</ion-footer>