<ion-content class="main ion-padding">
    <app-header [backBtnHidden]="false"></app-header>

    <div>
      <h2 class="signInText">Congratulations!</h2>
    </div>

    <div style="display: flex; flex-direction: column">
      <ion-label class="otp-text">Your account has been verified, please</ion-label>
      <ion-label class="otp-text">enter new password below.</ion-label>
    </div>

    

    <div class="margin-top-80">
      <p class="headerText">New Password</p>
      
      <form [formGroup]="aForm">

      <div class="select-view">
        <ion-input [type]="isText ? 'text' : 'password'" placeholder="Enter New Password" formControlName="password"></ion-input>
        <img src="../../../assets/images/eye.png" (click)="isText = !isText"/>
      </div>
      
      <div class="bottomLine"></div>

      <div *ngIf="(password.invalid && password.touched) || password.dirty || submitted" class="error-text-dark">
        <small *ngIf="password.errors?.required">{{'password.Required'  | translate }}</small>
        <small *ngIf="password.errors?.minlength">{{'password.Min_Length'  | translate }}</small>
      </div>

    </form>
  
    </div>

    <ion-row class="margin-top-100">
      <ion-button class="btn-main" (click)="onSubmit()" >Save</ion-button>
    </ion-row>

</ion-content>
