<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBalance]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row class="margin-top-10" (click)="navigate('pages/card-transfer-list')">
      <div class="menu-view">
        <div class="centered">
          <div class="purple-bg-view centered">
            <img src="../../../assets/images/card-transfer-list.png"/>
          </div>
          
          <ion-label class="menu-title">Card Transfer List</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-20" (click)="navigate('pages/cash-circle-contact-list')">
      <div class="menu-view">
        <div class="centered">
          <div class="purple-bg-view centered">
            <img src="../../../assets/images/cash-circle.png"/>
          </div>
          <ion-label class="menu-title">Cash Circle Contact List</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-20">
      <div class="menu-view">
        <div class="centered">
          <div class="purple-bg-view centered">
            <img src="../../../assets/images/bank-payee.png"/>
          </div>
          <ion-label class="menu-title">Bank Payee</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>
  </ion-content> 

  <ion-footer>
    <app-footer [isFavouriteSelected]="true"></app-footer>
  </ion-footer>
