.title{
    font-size: larger;
}

.message{
    font-size: 9px;
    margin-top: 5px;
}

.round-dashed{
    height:40px;
    width: 40px;
    border-radius: 25px; 
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.menu-view {
    background-color: var(--ion-color-primary-light);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 0px 10px; 
}

.icon{
    font-size: 50px;
    margin-right: 20px;
}

.menu-title{
    font-size: 16px;
}

.purple-bg-view{
    background-color: #6057A8;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 15px;
}

.chevron-right{
    font-size: large;
    color: #7568BA;
}