<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row>
      <ion-label class="title">Education Service</ion-label>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-label class="detail">Select Student Payee</ion-label>
    </ion-row>

    <ion-row class="margin-top-30">
      <div [class.inquiry-view-selected]="!isArab" [class.inquiry-view]="isArab" (click)="isArab = false">
        <ion-label>Sudanese</ion-label>
      </div>

      <div [class.pay-view]="!isArab" [class.pay-view-selected]="isArab" (click)="isArab = true">
        <ion-label>Arabs</ion-label>
      </div>
    </ion-row>

    <!--Sudanese View-->
    <form [formGroup]="sudaneseForm">

    <ion-grid *ngIf="!isArab">
      <ion-row class="margin-top-30">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Student Name</p>
            <ion-input type="text" placeholder="Enter Student Name" formControlName="studentName"></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

         <!-- error message -->
  <div *ngIf="(sudaneseFormStudentName.invalid && sudaneseFormStudentName.touched) || sudaneseFormStudentName.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormStudentName.errors?.required">{{'name.Required'  | translate }}</small>
    <small *ngIf="sudaneseFormStudentName.errors?.minlength">{{'name.Min_Length'  | translate}}</small>
  </div>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Admission Type</p> 

            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" formControlName="selectedForm">
                <ion-select-option value="GA1">General-Admission - 1st Round</ion-select-option>
                <ion-select-option value="SA">Special Admission</ion-select-option>
                <ion-select-option value="SOHES">Sons of Higher Education Staff</ion-select-option>
                <ion-select-option value="GA2">General-Admission - 2nd Round</ion-select-option>
                <ion-select-option value="SAVS">Special Admission - Vacant Seats</ion-select-option>
                <ion-select-option value="PIDA">Private Institutions Direct Admission</ion-select-option>
                <ion-select-option value="DIPI">Diploma in Public Institutions</ion-select-option>
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>
         <!-- error message -->
  <div *ngIf="(sudaneseFormAdmissionType.invalid && sudaneseFormAdmissionType.touched) || sudaneseFormAdmissionType.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormAdmissionType.errors?.required">{{'admissionType.Required'  | translate }}</small>
  </div>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Course Selection</p>

            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" formControlName="courseType" interface="action-sheet">
                <ion-select-option value="Academic">Academic</ion-select-option>
                <ion-select-option value="Agricultural">Agricultural</ion-select-option>
                <ion-select-option value="Commercial">Commercial</ion-select-option>
                <ion-select-option value="Industrial">Industrial</ion-select-option>
                <ion-select-option value="Womanly">Womanly</ion-select-option>
                <ion-select-option value="Ahlia">Ahlia</ion-select-option>
                <ion-select-option value="Readings">Readings</ion-select-option>
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
  <div *ngIf="(sudaneseFormCourseType.invalid && sudaneseFormCourseType.touched) || sudaneseFormCourseType.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormCourseType.errors?.required">{{'courseType.Required'  | translate }}</small>
  </div>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Seat Number</p>
            <ion-input type="text" placeholder="Enter Seat Number" formControlName="seatNumber"></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

         <!-- error message -->
  <div *ngIf="(sudaneseFormSeatNumber.invalid && sudaneseFormSeatNumber.touched) || sudaneseFormSeatNumber.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormSeatNumber.errors?.required">{{'seatNumber.Required'  | translate }}</small>
  </div>
      </ion-row>

      <!-- <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Amount</p>
            <ion-input type="text" placeholder="Enter Amount" formControlName="amount"></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

        
  <div *ngIf="(sudaneseFormAmount.invalid && sudaneseFormAmount.touched) || sudaneseFormAmount.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormAmount.errors?.required">{{'amount.Required'  | translate }}</small>
  </div>
      </ion-row> -->


    </ion-grid>

    </form>

    <!--Arab View View-->

    <form [formGroup]="arabForm">
    <ion-grid *ngIf="isArab">
      <ion-row class="margin-top-30">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Student Name</p>
            <ion-input type="text" placeholder="Enter Student Name" formControlName="studentName"></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>
        <!-- error message -->
  <div *ngIf="(arabFormStudentName.invalid && arabFormStudentName.touched) || arabFormStudentName.dirty || submitted" class="error-text">
    <small *ngIf="arabFormStudentName.errors?.required">{{'name.Required'  | translate }}</small>
    <small *ngIf="arabFormStudentName.errors?.minlength">{{'name.Min_Length'  | translate}}</small>
  </div>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Admission Type</p>

            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" formControlName="selectedForm">
                <ion-select-option value="GA1">General-Admission - 1st Round</ion-select-option>
                <ion-select-option value="SA">Special Admission</ion-select-option>
                <ion-select-option value="SOHES">Sons of Higher Education Staff</ion-select-option>
                <ion-select-option value="GA2">General-Admission - 2nd Round</ion-select-option>
                <ion-select-option value="SAVS">Special Admission - Vacant Seats</ion-select-option>
                <ion-select-option value="PIDA">Private Institutions Direct Admission</ion-select-option>
                <ion-select-option value="DIPI">Diploma in Public Institutions</ion-select-option>
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>
         <!-- error message -->
  <div *ngIf="(sudaneseFormAdmissionType.invalid && sudaneseFormAdmissionType.touched) || sudaneseFormAdmissionType.dirty || submitted" class="error-text">
    <small *ngIf="sudaneseFormAdmissionType.errors?.required">{{'admissionType.Required'  | translate }}</small>
  </div>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Course Selection</p>

            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" formControlName="courseType" interface="action-sheet">
                <ion-select-option value="Academic">Academic</ion-select-option>
                <ion-select-option value="Agricultural">Agricultural</ion-select-option>
                <ion-select-option value="Commercial">Commercial</ion-select-option>
                <ion-select-option value="Industrial">Industrial</ion-select-option>
                <ion-select-option value="Womanly">Womanly</ion-select-option>
                <ion-select-option value="Ahlia">Ahlia</ion-select-option>
                <ion-select-option value="Readings">Readings</ion-select-option>
              </ion-select>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
  <div *ngIf="(arabFormCourseType.invalid && arabFormCourseType.touched) || arabFormCourseType.dirty || submitted" class="error-text">
    <small *ngIf="arabFormCourseType.errors?.required">{{'courseType.Required'  | translate }}</small>
  </div>
      </ion-row>
    </ion-grid>
    </form>

    <ion-button class="btn-main" color="dark" (click)="onSubmit()">Add Now</ion-button>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
