.bg-component{
    background-color: #FEE4E3;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.icon{
    font-size: 50px;
}

.detail{
    margin-top: 40px;
    font-size: small;
}

.down-icon{
    color: gray;
    font-size: larger;
}

.payment-icon{
    font-size: 50px;
}
.centered-text{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: var(--ion-color-gray);
    font-size: 14px;
}
.style_input{
    padding: 5px !important;
    padding-left: 12px !important;
}