<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideMore]="false" [hideNotification]="false" [hideUserImg]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding padding-bottom">
  
  <div class="bg-component">
    <!-- <ion-icon name="book-outline" class="icon"></ion-icon> -->
    <img src="../../../assets/images/education.png"/>
    <ion-label style="margin-left: 20px">{{'Education-Bills-And-Fees.education'  | translate }}</ion-label>
  </div>
  <ion-grid>

    <form [formGroup]="aForm">

  <ion-row class="margin-top-20">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">Student Type</p>

        <div class="select-view">
          <ion-select placeholder="{{'Select Student Type' | translate}}" formControlName="studentType" interface="action-sheet">
            <ion-select-option value="Any">Any</ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <!-- error message -->
  <div *ngIf="(studentType.invalid && studentType.touched) || studentType.dirty || submitted" class="error-text">
    <small *ngIf="studentType.errors?.required">{{'studentType.Required'  | translate }}</small>
  </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'Education-Bills-And-Fees.admission'  | translate }}</p>

        <div class="select-view">
          <ion-select placeholder="{{'Select' | translate}}" formControlName="admissionType">
            <ion-select-option value="GA1">General-Admission - 1st Round</ion-select-option>
            <ion-select-option value="SA">Special Admission</ion-select-option>
            <ion-select-option value="SOHES">Sons of Higher Education Staff</ion-select-option>
            <ion-select-option value="GA2">General-Admission - 2nd Round</ion-select-option>
            <ion-select-option value="SAVS">Special Admission - Vacant Seats</ion-select-option>
            <ion-select-option value="PIDA">Private Institutions Direct Admission</ion-select-option>
            <ion-select-option value="DIPI">Diploma in Public Institutions</ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <!-- error message -->
  <div *ngIf="(admissionType.invalid && admissionType.touched) || admissionType.dirty || submitted" class="error-text">
    <small *ngIf="admissionType.errors?.required">{{'admissionType.Required'  | translate }}</small>
  </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'Education-Bills-And-Fees.course'  | translate }}</p>

        <div class="select-view">
          <ion-select placeholder="{{'Select' | translate}}" formControlName="courseType" interface="action-sheet">
            <ion-select-option value="Academic">Academic</ion-select-option>
            <ion-select-option value="Agricultural">Agricultural</ion-select-option>
            <ion-select-option value="Commercial">Commercial</ion-select-option>
            <ion-select-option value="Industrial">Industrial</ion-select-option>
            <ion-select-option value="Womanly">Womanly</ion-select-option>
            <ion-select-option value="Ahlia">Ahlia</ion-select-option>
            <ion-select-option value="Readings">Readings</ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <!-- error message -->
  <div *ngIf="(courseType.invalid && courseType.touched) || courseType.dirty || submitted" class="error-text">
    <small *ngIf="courseType.errors?.required">{{'courseType.Required'  | translate }}</small>
  </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'Education-Bills-And-Fees.Seat'  | translate }}</p>

        <div class="select-view">
          <ion-input class="style_input" type="text" placeholder="{{'Education-Bills-And-Fees.EnterSeat'  | translate }}" formControlName="seatNumber"></ion-input>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <!-- error message -->
  <div *ngIf="(seatNumber.invalid && seatNumber.touched) || seatNumber.dirty || submitted" class="error-text">
    <small *ngIf="seatNumber.errors?.required">{{'seatNumber.Required'  | translate }}</small>
  </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'Education-Bills-And-Fees.Amount'  | translate }}</p>
        <ion-input class="style_input" type="number" placeholder="{{'Education-Bills-And-Fees.EnterAmount'  | translate }}" formControlName="amount"></ion-input>
        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <!-- error message -->
  <div *ngIf="(amount.invalid && amount.touched) || amount.dirty || submitted" class="error-text">
    <small *ngIf="amount.errors?.required">{{'amount.Required'  | translate }}</small>
    <small *ngIf="amount.errors?.pattern">{{'amount.Invalid'  | translate }}</small>
  </div>
  </ion-row>  

  <ion-row class="margin-top-30" style="width: 90%;">
    <ion-col (click)="cardSelected = true">
    <div [class.selected-method]="cardSelected" [class.unselected-method]="!cardSelected">
      <!-- <ion-icon name="card-outline" class="payment-icon"></ion-icon> -->
      <img src="../../../assets/images/credit-card.png"/>
    </div>
  
    <ion-label class="centered centered-text">{{'customer_services.Card'  | translate }}</ion-label>
    
  </ion-col>
  
  <ion-col (click)="cardSelected = false">
    <div [class.selected-method]="!cardSelected" [class.unselected-method]="cardSelected">
      <img src="../../../assets/images/mobile-wallet.png"/>
    </div>
  
    <ion-label class="centered centered-text">{{'customer_services.Mobile_Wallet'  | translate }}</ion-label>
  </ion-col>
  </ion-row>

  <ion-row class="margin-top-30" *ngIf="cardSelected">
    <ion-col size="12 ">
      <div>
        <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
              <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
              <!-- <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item|json}}</ion-select-option> -->
              <!-- {{item|json}} -->
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>
          
          <div class="bottomLine"></div>
        </div>
    </ion-col>
  </ion-row>
  <!-- error message -->
  <div *ngIf="submitted" class="error-text">
    <small [hidden]="!cardSelected" *ngIf="!cardNumber.value">{{'cardNumber.enter_Card_num'  | translate }}</small>
  </div>

</form>
</ion-grid>

  <ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'customer_services.Continue'  | translate }}</ion-button>
</ion-content> 

<ion-footer>
  <app-footer></app-footer>
</ion-footer>