<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row class="margin-top-50">
      <ion-label class="title">{{'card_tranfer_details.Card_Transfer_Details'| translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-label class="detail">{{'card_tranfer_details.Details_of_your_transaction'| translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col>
        <div>
          <p class="header-text-purple">{{'card_tranfer_details.Transfer_From'| translate}}</p>

          <div class="select-view">
            <ion-label class="detail-label">{{data?.cardNumber}}</ion-label>
          </div> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'card_tranfer_details.Beneficiary_Name'| translate}}</p>

          <div class="select-view">
            <ion-label class="detail-label">{{data?.beneficary}}</ion-label>
          </div> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'card_tranfer_details.Transfer_Amount'| translate}}</p>

          <div class="select-view">
            <ion-label class="detail-label">{{data.amount}}</ion-label>
          </div> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'card_tranfer_details.Transfer_Medium'| translate}}</p>

          <div class="select-view">
            <ion-label class="detail-label">Online Funds Transfer</ion-label>
          </div> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div>
          <p class="header-text-purple">{{'card_tranfer_details.Date'| translate}}</p>

          <div class="select-view">
            <ion-label class="detail-label">{{date | date: 'dd/MMM/yy'}}</ion-label>
          </div> 
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-button class="btn-main" color="dark" (click)="onConfirm()">{{'card_tranfer_details.Confirm_Send'| translate}}</ion-button>
    </ion-row>

    
  </ion-content> 

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
