.bottomView{
    height: 70px;
    background-color: var(--ion-color-primary); 
    width: 100%;
    // position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.icon{
    color: white;
    font-size: larger;
   
}

.pay-view{
    border: 1px solid white;
    padding: 3;
    border-radius: 5px;
    width: 32px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ion-color-primary);
}

.pay-text{
    color: white;
    font-weight: bold;
    font-size: 12px;
}


.selected-view {
    width: 100%;
    height: 30px;
    border-radius: 25px;
    background-color: var(--ion-color-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.selected-text{
    color: white;
    font-size: 7px;
    margin-left: 5px;
    margin-top: 3px;
}