<div class="bottomView"> 
  <ion-row style="width: 100%;">

    <ion-col class="centered" *ngIf="!isHomeSelected" (click)="navigate('pages/home')">
      <img src="assets/images/home.png" />
    </ion-col>

    <ion-col class="selected-view" *ngIf="isHomeSelected">
      <img src="assets/images/home-sm.png" />
      <ion-text class="selected-text">Home</ion-text> 
    </ion-col>

    <ion-col class="centered" *ngIf="!isFavouriteSelected" (click)="navigate('pages/payee-list')">
      <img src="assets/images/heart.png" />
    </ion-col>

    <ion-col class="selected-view" *ngIf="isFavouriteSelected">
      <img src="assets/images/heart-sm.png" />
      <ion-text class="selected-text">Payee List</ion-text> 
    </ion-col>

    <ion-col class="centered" *ngIf="!isPaySelected" (click)="navigate('pages/add-payee')">
      <div class="pay-view"> 
        <ion-label class="pay-text">PAY</ion-label>
      </div>
    </ion-col>

    <ion-col class="selected-view" *ngIf="isPaySelected">
      <img src="assets/images/pay-view-sm.png" />
      <ion-text class="selected-text">Add Payee</ion-text> 
    </ion-col>

    <ion-col class="selected-view" *ngIf="isQRSelected">
      <img src="assets/images/qr-code-scan.png" />
      <ion-text class="selected-text">QR Code</ion-text> 
    </ion-col>

    <ion-col class="centered" *ngIf="!isQRSelected" (click)="navigate('pages/qr-code')">
      <img src="assets/images/qr-code-n.png" />
    </ion-col>

 
  </ion-row>

</div>