<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar
      [hideBackBtn]="false"
      [hideUserImg]="false"
      [hideNotification]="false"
      [hideMore]="false"
    ></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom">
  <ion-row class="margin-top-50">
    <ion-label class="title"
      >{{'local_cash_circle.title' | translate}}</ion-label
    >
  </ion-row>

  <ion-row class="margin-top-30">
    <ion-label class="detail"
      >{{'local_cash_circle.details' | translate}}</ion-label
    >
  </ion-row>

  <form [formGroup]="aForm">
    <ion-grid>
      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">
              {{'local_cash_circle.Cash_Circle_ID' | translate}}
            </p>
            <ion-input
              type="text"
              placeholder="{{'local_cash_circle.Enter_Cash_Circle_ID' | translate}}"
              formControlName="circleCashId"
            ></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>
        <!-- error  -->

        <div
          *ngIf="(cashId.invalid && cashId.touched) || cashId.dirty || submitted"
          class="error-text"
        >
          <small *ngIf="cashId.errors?.required"
            >{{'local_cash_circle.cash_circle_id_error' | translate}}</small
          >
          <small *ngIf="cashId.errors?.minlength"
            >{{'local_cash_circle.cash_circle_id_minlength' | translate}}</small
          >
          <small *ngIf="cashId.errors?.maxlength"
            >{{'local_cash_circle.cash_circle_id_maxlength' | translate}}</small
          >
        </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">
              {{'local_cash_circle.Beneficiary_Name' | translate}}
            </p>
            <ion-input
              type="text"
              placeholder="{{'local_cash_circle.Enter_Beneficiary_Name' | translate}}"
              formControlName="BenefeciaryName"
            ></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>
        <div
          *ngIf="(BenefeciaryName.invalid && BenefeciaryName.touched) || BenefeciaryName.dirty || submitted"
          class="error-text"
        >
          <small *ngIf="BenefeciaryName.errors?.required"
            >{{'local_cash_circle.BenefeciaryName_error' | translate}}</small
          >
          <small *ngIf="BenefeciaryName.errors?.minlength"
            >{{'local_cash_circle.BenefeciaryName_minlength' |
            translate}}</small
          >
          <small *ngIf="BenefeciaryName.errors?.maxlength"
            >{{'local_cash_circle.BenefeciaryName_maxlength' |
            translate}}</small
          >
        </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">
              {{'local_cash_circle.Mobile_Number' | translate}}
            </p>
            <ion-input
              type="text"
              placeholder="{{'local_cash_circle.Enter_Mobile_Number' | translate}}"
              formControlName="mobileNumber"
            ></ion-input>
            <div class="bottomLine"></div>
          </div>
        </ion-col>
        <div
          *ngIf="(mobileNumber.invalid && mobileNumber.touched) || mobileNumber.dirty || submitted"
          class="error-text"
        >
          <small *ngIf="mobileNumber.errors?.required"
            >{{'local_cash_circle.MobileNumber_error' | translate}}</small
          >
          <small *ngIf="mobileNumber.errors?.minlength"
            >{{'local_cash_circle.MobileNumber_minlength' | translate}}</small
          >
        </div>
      </ion-row>
    </ion-grid>
  </form>
  <ion-button
    class="btn-main"
    color="dark"
    (click)="onSubmit()"
    >Continue</ion-button
  >
</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>
