<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBalance]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 
  
<ion-content class="ion-padding padding-bottom"> 
    <ion-row class="margin-top-10">
      <ion-label class="title">{{'customer_services.title'| translate}}</ion-label>
    </ion-row>
  
    <ion-row class="margin-top-40">
      <div [class.inquiry-view-selected]="isInquiry" [class.inquiry-view]="!isInquiry" (click)="isInquiry = true"> 
        <ion-label>Inquiry</ion-label>
      </div>
  
      <div [class.pay-view]="isInquiry" [class.pay-view-selected]="!isInquiry" (click)="isInquiry = false"> 
        <ion-label>Pay</ion-label>
      </div>
  
    </ion-row>
  
    <!--Inquiry View-->
    <form [formGroup]="inquiryForm" *ngIf="isInquiry">
  
    <ion-row class="margin-top-30">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'customer_services.Invoice_Number' | translate}}</p>
          <ion-input type="text" placeholder="{{'customer_services.Enter_Invoice_Number'| translate}}" formControlName="invoiceNumber"></ion-input>
          <div class="bottomLine"></div>
      
        </div>
        </ion-col>

         <!-- error message -->
  <div *ngIf="(inquiryInvoiceNumber.invalid && inquiryInvoiceNumber.touched) || inquiryInvoiceNumber.dirty || inquirySubmitted" class="error-text">
    <small *ngIf="inquiryInvoiceNumber.errors?.required">{{'invoiceNumber.Required'  | translate }}</small>
  </div>
    
    </ion-row>
  
    <ion-row class="margin-top-10">
      <ion-col size="12">
    <div>
      <p class="header-text-purple">{{'customer_services.Phone_Number'| translate}}</p>
      
      <div class="select-view">
        <ion-select placeholder="{{'Select' | translate}}" formControlName="mobileId">
          <ion-select-option *ngFor="let item of mobileNumbers" [value]="item.mobileNumber">{{item.mobileNumber}}</ion-select-option>
        </ion-select>
        <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
      </div>
      
      <div class="bottomLine"></div>
  
    </div>
  </ion-col>

  <!-- error message -->
<div *ngIf="(inquiryMobileNumber.invalid && inquiryMobileNumber.touched) || inquiryMobileNumber.dirty || inquirySubmitted" class="error-text">
  <small *ngIf="inquiryMobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
</div>
  </ion-row>
  
  <ion-row class="margin-top-10">
    <ion-col size="12 ">
      <div>
        <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
              <ion-select-option *ngFor="let item of cards" [value]="item.cardNumber">{{item.cardNumber}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>
          
          <div class="bottomLine"></div>
        </div>
    </ion-col>

  <!-- error message -->
<div *ngIf="(inquiryCardNumber.invalid && inquiryCardNumber.touched) || inquiryCardNumber.dirty || inquirySubmitted" class="error-text">
  <small *ngIf="inquiryCardNumber.errors?.required">{{'cardNumber.Required' | translate }}</small>
</div>
  </ion-row>
  
  </form>
  
  <!--Pay View-->
  
  <form [formGroup]="payForm" *ngIf="!isInquiry">
  
      <ion-row class="margin-top-30">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">{{'customer_services.Bank_Code'| translate}}</p>
            <ion-input type="text" placeholder="Enter Bank Code" formControlName="bankCode"></ion-input>
            <div class="bottomLine"></div>
          </div>
          </ion-col>

          <!-- error message -->

      <div div *ngIf="(payBankCode.invalid && payBankCode.touched) || payBankCode.dirty || paySubmitted" class="error-text">
        <small *ngIf="payBankCode.errors?.required">{{'bankCode.Required' | translate }}</small>
      </div>
      
      </ion-row>
  
      <ion-row class="margin-top-10">
        <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'customer_services.Declarant_Code'| translate}}</p>
        
        <div class="select-view">
          <ion-input type="text" placeholder="{{'customer_services.select'| translate}}" formControlName="delcarentCode"></ion-input>
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>
        
        <div class="bottomLine"></div>
    
      </div>
    </ion-col>

    <div div *ngIf="(payDelcarentCode.invalid && payDelcarentCode.touched) || payDelcarentCode.dirty || paySubmitted" class="error-text">
      <small *ngIf="payDelcarentCode.errors?.required">{{'declarantCode.Required' | translate }}</small>
    </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'customer_services.Amount'| translate}}</p>
          <ion-input type="text" placeholder="Enter {{'customer_services.Enter_amount'| translate}}" formControlName="amount"></ion-input>
          <div class="bottomLine"></div>
      
        </div>
        </ion-col>

        <div div *ngIf="(payAmount.invalid && payAmount.touched) || payAmount.dirty || paySubmitted" class="error-text">
          <small *ngIf="payAmount.errors?.required">{{'amount.Required' | translate }}</small>
        </div>
    
    </ion-row>
  
    <ion-row class="margin-top-30" style="width: 90%;">
      <ion-col (click)="cardSelected = true">
      <div [class.selected-method]="cardSelected" [class.unselected-method]="!cardSelected">
        <!-- <ion-icon name="card-outline" class="payment-icon"></ion-icon> -->
        <img src="../../../assets/images/credit-card.png"/>
      </div>
    
      <ion-label class="centered centered-text">{{'customer_services.Card'| translate}}</ion-label>
      
    </ion-col>
    
    <ion-col (click)="cardSelected = false"> 
      <div [class.selected-method]="!cardSelected" [class.unselected-method]="cardSelected">
        <img src="../../../assets/images/mobile-wallet.png"/> 
      </div>
    
      <ion-label class="centered centered-text">{{'customer_services.Mobile_Wallet'| translate}}</ion-label>
    </ion-col> 
    </ion-row>
  
  <ion-row class="margin-top-10" *ngIf="cardSelected">
    <ion-col size="12">
  <div>
    <p class="header-text-purple">Card Number</p>
    
    <div class="select-view">
      <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
        <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
    </div>
    
    <div class="bottomLine"></div>
  
  </div>
  </ion-col>

  <!-- error message -->
<div *ngIf="paySubmitted" class="error-text">
  <small [hidden]="!cardSelected" *ngIf="!payCardNumber.value">{{'cardNumber.enter_Card_num'  | translate }}</small>
</div>
  </ion-row>
  
  </form>
  
  <ion-button class="btn-main" color="dark" (click)="onSubmit()">Continue</ion-button>
  
  </ion-content>  

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>