<ion-content class="main ion-padding">
  
    <app-header [backBtnHidden]="false"></app-header>

    <div>
      <h2 class="signInText">Verify Your Account</h2>
      <!-- <small>Note: write any OTP number - its in testing mode </small> -->
    </div>

    <div style="display: flex; flex-direction: column">
      <ion-label class="otp-text">An OTP has been sent to the Number</ion-label>
      <ion-label class="otp-text">You have provided, Kindly add.</ion-label>
    </div>

    <ion-row style="margin-top: 2vh" class="otp-outer">
      <ion-col class="no-padding">
        <ion-input
          class="x"
          style="margin-left: 0px;"
          #otp1
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[0]"
          (keyup)="otpController($event,otp2,'')"
        >
        </ion-input>
        <ion-input
          class="x"
          #otp2
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[1]"
          (keyup)="otpController($event,otp3,otp1)"
        >
        </ion-input>
        <ion-input
          class="x"
          #otp3
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[2]"
          (keyup)="otpController($event,otp4,otp2)"
        >
        </ion-input>

        <ion-input
          class="x"
          #otp4
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[3]"
          (keyup)="otpController($event,otp5,otp3)"
        >
        </ion-input>

        <!-- <ion-input
          class="x"
          #otp5
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[4]"
          (keyup)="otpController($event,'',otp4)"
        >
        </ion-input> -->
      </ion-col>
    </ion-row>

    <div style="padding-top: 30px; display: flex; flex-direction: column">
      <ion-label color="light" style="font-size: 11px">
        Did not received the code?
      </ion-label>

      <ion-label class="tap-here">Tap Here to Resend Code</ion-label>
    </div>

    <ion-row class="margin-top-20">
      <ion-button class="btn-main" (click)="onOTPVerify()">Proceed</ion-button>
    </ion-row>

    <div style="margin-top: 30px;" class="white">
      <ion-label class="normalText">By clicking above. You agree to our </ion-label>
      <ion-label class="bold-Text">Privay Policy</ion-label> 
      <ion-label class="normalText"> & </ion-label>
      <ion-label class="bold-Text">Terms & Conditions</ion-label>
    </div>

</ion-content>
