.x{
    width:45px;
    height:50px;
    margin:10px;
    border-radius: 20%;
    --background:var(--ion-color-light);
    --padding-start:7px;
    --paddoin-top : 7px;
    opacity: 50%;
    line-height: 50px;
    text-align: center;

    ::ng-deep input{
        color: #fff !important;
        padding-left: 0;
        padding-right: 0;
        font-size: 25px;
    }
}

.main {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--ion-color-dark);
}

.logo{
    width: 120px;
    height: 120px;
    margin: auto;
    align-self: center;
}

.signInText{
    font-size: x-large;
    margin-top: 120px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.input{
    margin-top: 50px;
}

.forgot-password{
    text-align: center;
    font-size: small;
    margin-top: 30px;
}

.otp-text{
    margin-bottom: 5px; 
    font-size: 14px;
    color: var(--ion-color-light);
}

.tap-here{
    font-size: 14px;
    margin-top: 5px;
    color: white;
}

ion-input{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    align-self: center;
}

.normalText{
    font-size: 13px;
}

.bold-Text{

    font-weight: bold;
    font-size: 14px;
}