<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div>
      <h2 class="signInText">Verify Your Account</h2>
    </div>

    <div style="display: flex; flex-direction: column;">
      <ion-label class="otp-text">An OTP has been sent to the Number</ion-label>
      <ion-label class="otp-text">You have provided, Kindly add.</ion-label>
    </div>

    <ion-row style="margin-top: 40px" >
      <ion-col class="centered">
        <ion-input
          class="x"
          #otp1
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[0]"
          (keyup)="otpController($event,otp2,'')"
        >
        </ion-input>
        <ion-input
          class="x"
          #otp2
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[1]"
          (keyup)="otpController($event,otp3,otp1)"
        >
        </ion-input>
        <ion-input
          class="x"
          #otp3
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[2]"
          (keyup)="otpController($event,otp4,otp2)"
        >
        </ion-input>

        <ion-input
          class="x"
          #otp4
          required="true"
          maxLength="1"
          [(ngModel)]="OTP[3]"
          (keyup)="otpController($event,'',otp3)"
        >
        </ion-input>
      </ion-col>
    </ion-row>

    <div style="padding-top: 20px; display: flex; flex-direction: column;">
      <ion-label class="did-not-received">
        Did not received the code?
      </ion-label>

      <ion-label class="tap-here" (click)="onResend()">Tap Here to Resend Code</ion-label>
    </div>

    <ion-row class="margin-top-20">
    <ion-button class="btn-main" (click)="verifyOTP()">Proceed</ion-button>
  </ion-row>


</ion-content>
