.x{
    display:inline-block;
    width:45px;
    height:50px;
    margin:10px;
    border-radius: 20%;
    --background:#d8d5ed;
    opacity: 0.3;
    --padding-start:7px;
}

.main {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.logo{
    width: 120px;
    height: 120px;
    margin: auto;
    align-self: center;
}

.signInText{
    font-size: 27px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.input{
    margin-top: 50px;
}


ion-input{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    align-self: center;
}

.normalText{
    font-size: 13px;
}

.bold-Text{
    font-weight: bold;
    font-size: 14px;
}

.did-not-received{
    font-size: 12px;
    color: var(--ion-color-light);
}

.tap-here{
    font-size: 14px;
    margin-top: 10px;
}

.otp-text{
    font-size: 13px;
}