.message{
    font-size: small;
    margin-right: 80px;
    margin-top: 10px;
}

.light-background {
    width: 100%;
    background-color: var(--ion-color-primary-light);
    height: 100%;
    padding: 30px 20px;
    margin-top: 50px;
    border-radius: 20px;
}

.sdg{
    font-size: 12px;
    color: #027302;
    font-weight: 600;
}
.centered-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 25%;
    border-radius: 20%;
}

.name{
    font-weight: bold;
    font-size: 14px;
}

.tag {
    margin: 10px 0;
    color: var(--ion-color-light);
    font-size: 12px;
}
.sdg_col{
    margin-top: 3px;
}

.amount {
    font-weight: bold;
    font-size: 24px;
    margin-left: -6px;
}

.bottomLine{
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 20px;
}

.left-content{
    color: #AEADB5;
    font-size: 13px;
}

.right-content{
    font-size: 13px;
}

.trans-details{
    font-size: 14px;
    font-weight: bold;
}

.visa-debit{
    font-weight: bold;
    font-size: 10px;
}

.visa{
    position: absolute;
    left: 25%;
    top: 25%;
}