.back-icon{
    color: white;
    font-size: large;
}
.back-btn{
    border: 1px solid white;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-view{
    background: #7668ba;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    position: relative;
}
.main-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notification-view{
    position: absolute;
    right: 5%;
    top: 4%;
}
.notfication-badge{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--ion-color-primary);
    position: absolute;
    top: 0;
    margin-left: 10px;
   
}