<!-- <div class="back-btn">
  <ion-icon name="chevron-back" class="back-icon"></ion-icon>
</div> -->
<div class="main-view">

  <div class="bg-view centered" [hidden]="backBtnHidden" (click)="back()">
    <!-- <img src="assets/images/light-purple-bg.png"/> -->
    <img class="back-icon centered" src="assets/images/chevron-left-white.png"/>
  </div> 

  <div [hidden]="notificationHidden" class="notification-view" (click)="navigate('pages/notifications')">
    <img src="assets/images/notification-white.png"/>
    <div class="notfication-badge"></div>
  </div>
</div>

