ion-toggle {
    zoom: 0.5;
}

.title{
    font-size: 18px;
}

.message{
    font-size: 8px;
    margin-top: 5px;
    color: #424243;
}

.round-dashed{
    height:40px;
    width: 40px;
    border-radius: 25px; 
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.menu-view {
    background-color: var(--ion-color-primary-light);
    width: 100%;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.icon{
    font-size: 25px;
    margin-right: 20px;
}

.menu-title{
    font-size: 11px;
}

.plus-icon{
    position: absolute;
    left: 25%;
    top: 25%;
}

.margin-top-negative{
    margin-top: -10px;
}

.colored-bg {
    background-color: #6057A8;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 15px;
}

.chevron-right{
    font-size: large;
    color: #7568BA;
}

.card{
    height: 160px;
    width: 90%;
    background: var(--ion-color-primary);
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.card-number{
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.card-header-lbl {
    color: white;
    font-size: 9px;
    margin-top: 10px;
}

.card-content-lbl {
    color: white;
    font-size: 9px;
    font-weight: bold;
}

.round-view{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 20px solid var(--ion-color-light);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -90px;
    margin-right: -90px;
}

.toggle-view{
    position: absolute;
    right: 8%;
    top:10%
}

.card-name{
    font-size: 6px;
    color: white;
    font-weight: bold;
    margin-top: -5px;
    margin-left: -5px;
}