<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg]="false" [hideNotification]="false" [hideMore]="false">
    </app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom">
  <div>

    <ion-slides #slides>
      <ion-slide *ngFor="let item of cards">

        <ion-card class="card">

          <div class="round-view"></div>
          <div class="toggle-view">
            <ion-toggle></ion-toggle>
            <p class="card-name">Master Card</p>
          </div>


          <div class="margin-top-60">
            <ion-label class="card-number">
              {{item.cardNumber}}
            </ion-label>

            <div class="flex-row">

              <ion-label>
                <p class="card-header-lbl">NAME ON CARD</p>
                <p class="card-content-lbl">{{item.nameOnCard}}</p>
              </ion-label>

              <ion-label style="margin-left: 40px;">
                <p class="card-header-lbl">EXPIRY</p>
                <p class="card-content-lbl"> {{item.expiryMonth}}/ {{item.expiryYear}}</p>
              </ion-label>

            </div>

          </div>

        </ion-card>


      </ion-slide>

    </ion-slides>

  </div>

  <ion-row class="margin-top-30">
    <ion-col size="8">
      <div class="flex-column">
        <ion-label class="title">Cards & Details</ion-label>
        <ion-label class="message">You can add edit all your card details below, Just select card from
          top and update information in bottom.</ion-label>
      </div>
    </ion-col>

    <ion-col size="4">
      <div class="centered flex-column margin-top-negative">
        <!-- <div class="round-dashed"> 
        <ion-icon name="add-outline"></ion-icon>
      </div> -->
        <div class="relative" (click)="navigate('pages/add-credit-debit-card')">
          <img src="../../../assets/images/round-dashed-sm.png" />
          <img class="plus-icon" src="../../../assets/images/gradient-plus-sm.png" />
        </div>
        <ion-label class="margin-top-10" style="font-size: 8px">Add Card Detail</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="margin-top-30" (click)="navigate('pages/add-credit-debit-card')">
    <div class="menu-view">
      <div class="centered">
        <div class="colored-bg centered">
          <img src="../../../assets/images/edit-card-info.png" />
        </div>

        <ion-label class="menu-title">Edit Card Information</ion-label>
      </div>

      <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="margin-top-30" (click)="navigate('pages/delete-card')">
    <div class="menu-view">
      <div class="centered">
        <div class="colored-bg centered">
          <img src="../../../assets/images/delete.png" />
        </div>
        <ion-label class="menu-title">Delete Card</ion-label>
      </div>

      <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
    </div>
  </ion-row>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>