.notification-img{
    width: 40px;
    border-radius: 7px;
}

.name {
    font-size: 11px;
    color: var(--ion-color-light);
}

.card-type{
    font-size: 9px;
    margin-top: 5px;
    color: var(--ion-color-dark);
    margin-right: 5px;
    margin-bottom: -3px;
}
.card-number{
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    color: var(--ion-color-dark);
}
.my-title{
    font-size: 18px;
    font-weight: bold;
}
.my-detail{
    color: var(--ion-color-dark);
    font-size: 9px;
    width: 75%;
}