
    <div class="modal-view">

      <ion-row>
        <ion-text class="success-title">Successful Payment</ion-text>
        <ion-text class="success-message">Your payment of 30$ has been completed</ion-text>
      </ion-row>

      <ion-row class="btn-raw margin-top-100"> 
        <div class="scan-another-view">
          <ion-label>Scan Another QR Code</ion-label>
        </div>
      </ion-row>

      <ion-row class="btn-raw margin-top-30">
        <div class="finished">
          <ion-label>Finished</ion-label>
        </div>
      </ion-row>

    </div>
