.modal-view{
    background-color: rebeccapurple;
    width: 95%;
    height: 350px;
    margin: auto;
    border-radius: 15px;
}

.success-title{
    font-size: x-large;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.success-message{
    color: white;
    font-size: 13px;
    margin: auto;
}

.scan-another-view{
    background-color: gray;
    height: 50px;
    margin: 20;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.btn-raw{
    padding-left: 20px;
    padding-right: 20px;
}

.finished{

    border: 1px solid gray;
    height: 50px;
    margin: 20;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;

}