.last-month{
    font-size: 10px;
    color: var(--ion-color-light);;
}

.chevron-down{
    margin-left: 10px;
    font-size: 15px;
    color: #DDD5FD;
}

.notification-img{
    width: 40px;
    border-radius: 10px;
}

.name {
    font-size: 12px;
    color: var(--ion-color-light);
    font-weight: 600;
}

.notification-detail {
    font-size: 11px;
    margin-top: 8px;
}

.amount{
    text-align: center;
    font-weight: 800;
    font-size: 16px;
    margin-left: -4px;
    color: var(--ion-color-primary);
}

.time {
    font-size: 9px;
    text-align: center;
    margin-top: 4px;
    margin-left: -7px;
}

.chevron-right{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: #DDD5FD;
    margin-left: 7px;
    margin-top: 5px;
}
.my-title{
    font-size: 18px;
    font-weight: bold;
}

.box-view{
    width: 33px;
    height: 35px;
    border-radius: 6px;
    border: 1px solid #E3E3E3;
    font-size: 9px;
    color: #B4B2B2;
}

.round-sm{
    width: 15px;
    height: 23px;
    background-color: white;
    position: absolute;
    right: 15px;
    top: -1px;
    border-radius: 8px;
    margin-right: 8px;
}

.detail{
    font-size: 8px;
    color: #B4B2B2;
    text-align: center;
    margin-right: 20px;
    margin-top: 2px;
}

// ion-icon .item-detail-icon {
//     margin-top: 10px !important;
//     margin-left: 2px !important;
//     margin-right: -15px !important;
// }