<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="margin-top-50">
    <ion-label class="title">Card Transfer Details</ion-label>
  </ion-row>

  <ion-row class="margin-top-20">
    <ion-label class="detail">Details of your transaction</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col>
      <div>
        <p class="header-text-purple">Payee Phone Number</p>

        <div class="select-view">
          <ion-label class="detail-label">{{data.mobileNumber}}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Your Card Number</p>

        <div class="select-view">
          <ion-label class="detail-label">{{data.cardNumber}}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Transfer Amount</p>

        <div class="select-view">
          <ion-label class="detail-label">{{data.amount}}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Date</p>

        <div class="select-view">
          <ion-label class="detail-label">{{date | date: 'dd/MMM/yy'}}</ion-label>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="margin-top-40">
    <ion-button class="btn-main" color="dark" (click)="onConfirm()">Confirm & Pay</ion-button>
  </ion-row>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
