.centered-text{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: var(--ion-color-gray);
    font-size: 14px;
}
.style_input{
    padding: 5px !important;
    padding-left: 12px !important;
}