<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBalance]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding padding-bottom">

  <ion-row class="margin-top-10">
    <ion-label class="title">{{'government_services.Services' | translate}}</ion-label>
  </ion-row>

  <ion-row class="margin-top-50">
    <div [class.inquiry-view-selected]="isInquiry" [class.inquiry-view]="!isInquiry" (click)="isInquiry = true;"> 
      <ion-label>{{'government_services.Inquiry' | translate}}</ion-label>
    </div>

    <div [class.pay-view]="isInquiry" [class.pay-view-selected]="!isInquiry" (click)="isInquiry = false"> 
      <ion-label>{{'government_services.Pay' | translate}}</ion-label>
    </div>

  </ion-row>

  <!--Inquiry View-->

  <form *ngIf="isInquiry" [formGroup]="inquiryForm">
    <ion-grid>
      
  <ion-row class="margin-top-30">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'customer_services.Invoice_Number' | translate}}</p>
        <ion-input class="style_input" type="text" placeholder="{{'generate_voucher.InvoiceNumber' | translate}}" formControlName="invoiceNumber"></ion-input>
        <div class="bottomLine"></div>
    
      </div>
      </ion-col>

      <!-- error message -->
      <div *ngIf="(inquiryInvoiceNumber.invalid && inquiryInvoiceNumber.touched) || inquiryInvoiceNumber.dirty || inquirySubmitted" class="error-text">
        <small *ngIf="inquiryInvoiceNumber.errors?.required">{{'invoiceNumber.Required'  | translate }}</small>
      </div>
  
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
  <div>
    <p class="header-text-purple">{{'customer_services.Phone_Number' | translate}}</p>
    
    <div class="select-view">
      <ion-select placeholder="{{'Select' | translate}}" formControlName="mobileId">
        <ion-select-option *ngFor="let item of mobileNumbers" [value]="item._id">{{item.mobileNumber}}</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
    </div>
    
    <div class="bottomLine"></div>

  </div>
</ion-col>
<!-- error message -->
<div *ngIf="(inquiryMobileNumber.invalid && inquiryMobileNumber.touched) || inquiryMobileNumber.dirty || inquirySubmitted" class="error-text">
  <small *ngIf="inquiryMobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
</div>
</ion-row>

<ion-row class="margin-top-10">
  <ion-col size="12">
<div>
  <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
  
  <div class="select-view">
    <ion-select placeholder="{{'Select' | translate}}" formControlName="cardNumber">
      <ion-select-option *ngFor="let item of cards" [value]="item.cardNumber">{{item.cardNumber}}</ion-select-option>
    </ion-select>
    <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
  </div>
  
  <div class="bottomLine"></div>

</div>
</ion-col>

<!-- error message -->
<div *ngIf="(inquiryCardNumber.invalid && inquiryCardNumber.touched) || inquiryCardNumber.dirty || inquirySubmitted" class="error-text">
  <small *ngIf="inquiryCardNumber.errors?.required">{{'cardNumber.Required' | translate }}</small>
</div>
</ion-row>

</ion-grid>
</form>

<!--Pay View-->

<form [formGroup]="payForm" *ngIf="!isInquiry">
  <ion-grid>

    <ion-row class="margin-top-30">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'customer_services.Invoice_Number' | translate}}</p>
          <ion-input class="style_input" type="text" placeholder="Enter Invoice Number" formControlName="invoiceNumber"></ion-input>
          <div class="bottomLine"></div>
      
        </div>
        </ion-col>
  
        <!-- error message -->
    <div *ngIf="(payInvoiceNumber.invalid && payInvoiceNumber.touched) || payInvoiceNumber.dirty || paySubmitted" class="error-text">
      <small *ngIf="payInvoiceNumber.errors?.required">{{'invoiceNumber.Required'  | translate }}</small>
    </div>
    
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
    <div>
      <p class="header-text-purple">{{'customer_services.Phone_Number' | translate}}</p>
      
      <div class="select-view">
        <ion-select placeholder="{{'Select' | translate}}" formControlName="mobileId"> 
          <ion-select-option *ngFor="let item of mobileNumbers" [value]="item._id">{{item.mobileNumber}}</ion-select-option>
        </ion-select>
        <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
      </div>
      
      <div class="bottomLine"></div>
  
    </div>
  </ion-col>
  <!-- error message -->
  <div *ngIf="(payMobileNumber?.invalid && payMobileNumber?.touched) || payMobileNumber?.dirty || paySubmitted" class="error-text">
    <small *ngIf="payMobileNumber?.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
  </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
  <div>
    <p class="header-text-purple">{{'customer_services.Amount' | translate}}</p>
    
    <div class="select-view">
      <ion-input class="style_input" type="number" placeholder="Enter Amount" formControlName="amount"></ion-input>
      <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
    </div>
    
    <div class="bottomLine"></div>

  </div>
</ion-col>

<!-- error message -->
<div *ngIf="(payAmount.invalid && payAmount.touched) || payAmount.dirty || paySubmitted" class="error-text">
  <small *ngIf="payAmount.errors?.required">{{'amount.Required' | translate }}</small>
  <small *ngIf="payAmount.errors?.pattern">{{'amount.Invalid' | translate}}</small>
</div>
</ion-row>

<ion-row class="margin-top-30" style="width: 90%;">
  <ion-col (click)="OnCardSelected(true)">
  <div [class.selected-method]="cardSelected" [class.unselected-method]="!cardSelected">
    
    <!-- <ion-icon name="card-outline" class="payment-icon"></ion-icon> -->
    <img src="../../../assets/images/credit-card.png"/>
  </div>

  <ion-label class="centered centered-text">{{'customer_services.Card' | translate}}</ion-label>
  
</ion-col> 

<ion-col (click)="OnCardSelected(false)">
  <div [class.selected-method]="!cardSelected" [class.unselected-method]="cardSelected"> 
    
    <img src="../../../assets/images/mobile-wallet.png"/>
  </div>

  <ion-label class="centered centered-text">{{'customer_services.Mobile_Wallet' | translate}}</ion-label>
</ion-col>
</ion-row>

<ion-row class="margin-top-10" *ngIf="cardSelected">
  <ion-col size="12">
<div>
  <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
  
  <div class="select-view">
    <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
      <ion-select-option *ngFor="let item of cards" [value]="item.cardNumber">{{item.cardNumber}}</ion-select-option>
    </ion-select>
    <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
  </div>
  
  <div class="bottomLine"></div>

</div>
</ion-col>

<div *ngIf="(payCardId.invalid && payCardId.touched) || payCardId.dirty || paySubmitted" class="error-text">
  <small [hidden]="!cardSelected" *ngIf="!payCardId.value">{{'cardNumber.enter_Card_num'  | translate }}</small>
</div>
</ion-row>

</ion-grid>

</form>

<ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'Submit' | translate}}</ion-button>
 
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
