.bg-component{
    background-color: #fff4eb;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.icon{
    font-size: 50px;
}

.detail{
    margin-top: 10px;
    font-size: small;
}
.down-icon{
    color: gray;
    font-size: larger;
}