<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="header">
    <app-header-bar
      [hideBackBtn]="false"
      [hideUserImg]="false"
      [hideNotification]="false"
      [hideMore]="false"
    ></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="margin-top-100">
    <ion-row>
      <ion-label class="title">Electricity Purchase</ion-label>
    </ion-row>

    <ion-row>
      <ion-label class="detail"
        >Please enter your meter number to purchase</ion-label
      >
    </ion-row>

    <form [formGroup]="aForm">
      <ion-row class="margin-top-50">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Meter Number</p>

            <div class="select-view">
              <ion-input
                type="text"
                placeholder="Enter Meter Number"
                formControlName="meterNumber"
              ></ion-input>
              <ion-icon
                name="chevron-down-outline"
                class="down-icon"
              ></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
        <div
          *ngIf="(meterNumber.invalid && meterNumber.touched) || meterNumber.dirty || submitted"
          class="error-text">

          <small *ngIf="meterNumber.errors?.required">{{'meterNumber.Required' | translate }}</small>
          <small *ngIf="meterNumber.errors?.minlength">{{'meterNumber.Min_Length' | translate}}</small>
        </div>
      </ion-row>
    </form>

    <ion-row class="margin-top-30">
      <ion-button class="btn-main" color="dark" (click)="onSubmit()"
        >Add Now</ion-button
      >
    </ion-row>
  </div>
</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>
