<ion-content class="main ion-padding">
  
    <app-header [backBtnHidden]="false"></app-header>
    <div>
    <ion-img class="logo" src="assets/images/logo-white.png">
     </ion-img>     
     <h2 class="sign-up-text">Sign Up</h2>
  </div>

  <form [formGroup]="aForm">

  <div class="input">
    <p class="headerText">{{'signup.FullName' | translate}}</p>
    <ion-input type="text" placeholder="{{'signup.Enter_Full_Name' | translate}}" formControlName="fullName"></ion-input>
    <div class="bottomLine"></div>
  </div>
  <!-- error message -->
  <div *ngIf="(fullName.invalid && fullName.touched) || fullName.dirty || submitted" class="error-text-dark">
    <small *ngIf="fullName.errors?.required">{{'name.Required'  | translate }}</small>
    <small *ngIf="fullName.errors?.minlength">{{'name.Min_Length'  | translate}}</small>
  </div>

  <div class="input">
    <p class="headerText">{{'signup.MobileNumber' | translate}}</p>
    <ion-input placeholder="{{'signup.Enter_Mobile_Number' | translate}}" formControlName="mobileNumber"  (input)="onTelephoneChange($event)"></ion-input>
    <div class="bottomLine"></div>
  </div>
  <!-- error message -->
  <div *ngIf="(mobileNumber.invalid && mobileNumber.touched) || mobileNumber.dirty || submitted" class="error-text-dark">
    <small *ngIf="mobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
    <small *ngIf="mobileNumber.errors?.minlength">{{'mobileNumber.Min_Length'  | translate}}</small>
  </div>

  <div class="input">
    <p class="headerText">{{'signup.Password' | translate}}</p>
    <div class="select-view">
      <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="{{'signup.Enter_Password' | translate}}"
      formControlName="password"></ion-input>
      <ion-img class="eye-Icon" (click)="showPassword = !showPassword" src="assets/images/eye.png"> </ion-img>
    </div>
    <div class="bottomLine"></div>
  </div>
<!-- error message -->
<div *ngIf="(password.invalid && password.touched) || password.dirty || submitted" class="error-text-dark">
  <small *ngIf="password.errors?.required">{{'password.Required'  | translate }}</small>
  <small *ngIf="password.errors?.minlength">{{'password.Min_Length'  | translate}}</small>
</div>


</form>

  <ion-button class="btn-main ion-margin-top" (click)="onFormSubmit()">Sign Up</ion-button> 

</ion-content>