.save_temp_row{
    margin-top: 16px;
    margin-left: 6px;
}
.save_temp_checkBox{
    margin-left: 11px;
    margin-top: 1px;
    width: 20px;
    height: 20px;
}

.down-icon{
    color: gray;
    font-size: larger;
}