<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg]="false" [hideNotification]="false" [hideMore]="false">
    </app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="margin-top-40">
    <ion-label class="title">Account Transfer</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-label class="detail">Please enter your details below</ion-label>
  </ion-row>

  <form [formGroup]="aForm">

    <ion-grid>

      <ion-row class="margin-top-30">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Card Information</p>
            <div class="select-view">
              <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
                <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
                <!-- <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item|json}}</ion-select-option> -->
                <!-- {{item|json}} -->
              </ion-select>
              <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
            </div>

            <div class="bottomLine"></div>
          </div>
        </ion-col>

         <!-- error message -->
      <div *ngIf="(cardId.invalid && cardId.touched) || cardId.dirty || submitted" class="error-text">
        <small *ngIf="cardId.errors?.required">{{'cardNumber.Required' | translate }}</small>
      </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">IPIN</p>
            <div class="select-view">
              <div class="select-view">
                <ion-input type="number" class="amount_input" placeholder="Enter IPin" formControlName="iPin">
                </ion-input>
              </div>
            </div>
            <div class="bottomLine"></div>
          </div>
        </ion-col>
        <!-- error message -->
      <div *ngIf="(iPin.invalid && iPin.touched) || iPin.dirty || submitted" class="error-text">
        <small *ngIf="iPin.errors?.required">{{'iPin.Required' | translate }}</small>
      </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">To</p>
            <div class="select-view">
              <div class="select-view">
                <ion-input type="text" class="amount_input" placeholder="To" formControlName="to"></ion-input>
              </div>
            </div>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
      <div *ngIf="(to.invalid && to.touched) || to.dirty || submitted" class="error-text">
        <small *ngIf="to.errors?.required">{{'to.Required' | translate }}</small>
      </div>
      </ion-row>

      <ion-row class="margin-top-10">
        <ion-col size="12">
          <div>
            <p class="header-text-purple">Amount</p>
            <div class="select-view">
              <ion-input type="number" class="amount_input" placeholder="Enter Transaction Amount"
                formControlName="amount"></ion-input>
            </div>
            <div class="bottomLine"></div>
          </div>
        </ion-col>

        <!-- error message -->
        <div *ngIf="(amount.invalid && amount.touched) || amount.dirty || submitted" class="error-text">
          <small *ngIf="amount.errors?.required">{{'amount.Required' | translate }}</small>

        </div>
      </ion-row>

      <ion-row class="save_temp_row">
        <ion-label class="detail">Save as template</ion-label>
        <ion-checkbox color="light" class="save_temp_checkBox"></ion-checkbox>
      </ion-row>

    </ion-grid>
  </form>
  <ion-row class="margin-top-20">
    <ion-button class="btn-main" color="dark" (click)="onSubmit()">Send</ion-button>
  </ion-row>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>