<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
  <ion-label>

    <h2 class="my-title">Education Service</h2>
    <p class="detail">Select one education institute</p>

    </ion-label>

    <ion-row class="margin-top-20">
      <ion-col>
        <div>
          <p class="header-text-purple">Select One Institute</p>
  
          <div class="select-view">
            <ion-input type="text" placeholder="Select"></ion-input>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>
  
          <div class="bottomLine"></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col>
        <div>
          <p class="header-text-purple">Registration Number</p>
          <ion-input type="text" placeholder="Enter Registration Number"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="margin-top-50">
      <ion-button class="btn-main" color="dark">Add Now</ion-button>
    </ion-row>
    

  
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
