.logo{
    width: 50%;
    margin: auto;
    align-self: center;
}

.signInText{
    font-size: 25px;
    margin-top: 100px;
    font-weight: bold;
    margin-bottom: 50px;
    color: white;
}

.input{
    margin-top: 50px;
}

.eye-Icon{
    color: purple;
    font-size: larger;
}

.login-btn{
    width: 100%;
    margin-top: 130px;
    color: white;
    height: 60px;

}

.forgot-password{
    text-align: center;
    font-size: small;
    margin-top: 30px;
}

.signup-view{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.no-account{
    font-size: small;
}

.singup-now{
    font-size: small;
    color: purple;
    font-weight: bold;
    margin-left: 5px;
}