<ion-content class="main ion-padding">
  <div>
    <app-header [backBtnHidden]="false"></app-header>
    <div class="margin-top-50">
    <ion-img class="logo" src="../assets/images/logo-white.png"> 
     </ion-img>
     
     <h2 class="signInText">Forgot Password?</h2>
  </div>

  <form [formGroup]="aForm">

  <div class="input">
    <p class="headerText">Enter Your Mobile Number</p> 
    <ion-input type="text" placeholder="Enter Mobile Number" class="white" formControlName="mobileNumber"></ion-input>
    <div class="bottomLine"></div>

  </div>

  <div *ngIf="(mobileNumber.invalid && mobileNumber.touched) || mobileNumber.dirty || submitted" class="error-text-dark">
    <small *ngIf="mobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
    <small *ngIf="mobileNumber.errors?.pattern">{{'mobileNumber.Invalid'  | translate }}</small>
  </div>

</form>

  <ion-button class="login-btn" (click)="onSubmit()">Next</ion-button> 

</div>

</ion-content>
