<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row class="margin-top-50">
      <ion-label class="title">Credit / Debit Cards</ion-label>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-label class="my-detail">You have not added any card yet. Please enter a card information to access all features</ion-label>
    </ion-row>

    <div class="centered margin-top-100 flex-column" (click)="navigate('pages/add-credit-debit-card')">
      <div class="relative"> 
        <img src="../../../assets/images/round-dashed.png"/>
        <img class="centered-icon" src="../../../assets/images/gradient-plus.png"/>
        <!-- <ion-icon name="add-outline"></ion-icon> -->
      </div>
      <ion-label class="margin-top-20" style="font-size: 13px;">Add Card Detail</ion-label>

    </div>

  </ion-content> 

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>