.round-dashed{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.my-detail {
    font-size: 12px;
    width: 76%;
}

.centered-icon{
    position: absolute;
    left: 35%;
    top: 35%
}