<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row class="margin-top-70">
    <ion-label>
      <h2 class="heading">{{'Generate_Pin.Generate_Pin'  | translate }}</h2>
      <p class="message">
        {{'Generate_Pin.message'  | translate }}
      </p>
    </ion-label>
  </ion-row>
  
  <form [formGroup]="aForm">

  <div class="margin-top-70">
    <p class="header-text-purple">{{'Generate_Pin.MobileNumber'  | translate }}</p>
    <ion-input class="style_input" type="text" placeholder="{{'Generate_Pin.MobileNumberplaceholder'  | translate }}" formControlName="mobileNumber"></ion-input>
    <div class="bottomLine"></div>

    <div *ngIf="(mobileNumber.invalid && mobileNumber.touched) || mobileNumber.dirty || submitted" class="error-text">
      <small *ngIf="mobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
      <small *ngIf="mobileNumber.errors?.pattern">{{'mobileNumber.Invalid'  | translate }}</small>
    </div>
  </div>

</form>

  <ion-row class="margin-top-30">
  <ion-button class="btn-main" (click)="onSubmit()">{{'Generate_Pin.VerifyNow'  | translate }}</ion-button>
</ion-row>

</ion-content>
