.container{
    padding: 15px;
    height: 100%;
    width: 100%;
}

.heading{
    font-weight: bold;
    font-size: 27px;
}

.centered{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.message {
    font-size: small;
    margin-top: 15px;
    width: 85%;
    color: black;
}
.style_input{
    padding: 5px !important;
    padding-left: 12px !important;
}