
.message{
    color: white;
    font-size: 12px;
}

.colored-bg{
    background-color: var(--ion-color-primary-light);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.heading{
    font-weight: bold;
    font-size: large;
}

.centered-icon{
    margin: auto;
    align-self: center;
    font-size: 40px;
}

.centered-text{
    text-align: center;
    font-size: 9px;
    margin: auto;
}

.title{
    font-weight: bold;
    font-size: x-large;
}

.menu-view {
    background-color: var(--ion-color-primary-light);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.icon{
    font-size: 50px;
    margin-right: 20px;
}

.chevron-right {
    font-size: large;
    color: #7568ba;
}

.img-bg{
    background-color: #6057A8;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 20px;

}