<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBalance]="false" [hideUserImg]="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-row class="margin-top-10" (click)="navigate('pages/type-selection')">
      <div class="menu-view">
        <div class="centered">
          <div class="img-bg centered">
            <img src="../../../assets/images/add-bill-payee.png"/>
          </div>
          
          <ion-label>Add Bill Payee</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-20" (click)="navigate('pages/add-local-cash-circle-account')">
      <div class="menu-view">
        <div class="centered">
          <div class="img-bg centered">
            <img src="../../../assets/images/add-local-cash.png"/>
          </div>
          <ion-label>Add Local Cash Circle Account</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-20" (click)="navigate('pages/add-local-bank-account')">
      <div class="menu-view">
        <div class="centered">
          <div class="img-bg centered">
            <img src="../../../assets/images/add-bank-card.png"/>
          </div>
          <ion-label>Add Bank Card</ion-label>
        </div>
        
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>
   
    
    
  </ion-content>
  <ion-footer>
    <app-footer [isPaySelected]="true" ></app-footer>
  </ion-footer>