
.main {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: var(--ion-color-dark);
}

.signInText{
    font-size: 24px;
    margin-top: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}
.otp-text{
    margin-bottom: 5px; 
    font-size: 15px;
    color: var(--ion-color-light);
}

.image-div {
    position: relative;
   // background-image: url("../../../assets/images/forgot-ellipse.png");
   background: #4E4784;
    width: 130px;
    height: 130px;
    border-radius: 65px; 
}

.internal-img {
    left: 50%;
    top: 50%;
    position: absolute;
}
