<ion-content class="main ion-padding">
    <app-header [backBtnHidden]="false"></app-header>

    <div class="image-div centered margin-top-50">
      <!-- <img src="../../../assets/images/forgot-ellipse.png"/> -->
      <img src="../../../assets/images/forgot-layer.png"/>
    </div>

    <div>
      <h2 class="signInText">New Password Generated</h2>
    </div>

    <div style="display: flex; flex-direction: column">
      <ion-label class="otp-text">Dear User, Your new password has been</ion-label>
      <ion-label class="otp-text">generated successfully. Please login now</ion-label>
    </div> 

    <ion-row class="margin-top-30">
      <ion-button class="btn-main" (click)="navigate('pages/login')">Login Now</ion-button>
    </ion-row>


</ion-content>
