<ion-content class="main ion-padding">
    <app-header [notificationHidden]="false"></app-header>

    <ion-row class="margin-top-100"> 
      <ion-label class="my-qr-code-text">Select One</ion-label>
    </ion-row>

      <div class="tip-view" (click)="navigate('pages/scan-qr-code')">

        <div class="purple-bg"> 
          <img src="assets/images/qr-code.png"/>
          <img src="assets/images/up-arrow.png" class="arrow-up"/>
         </div>

         <div class="text-view">
          <ion-label class="title">QR Purchase</ion-label>
          <ion-label class="content">Purchase to merchant by scanning QR Code</ion-label>
         </div>
         
         <ion-icon class="chevron-centered" name="chevron-forward-outline"></ion-icon>
 
      </div>

      <div class="tip-view" style="margin-top: 35px;" (click)="navigate('pages/scan-qr-code')">

        <div class="purple-bg">
          <!-- <ion-icon name="qr-code-outline" class="bulb-icon"></ion-icon> -->
          <img src="assets/images/qr-code.png"/>
          <img src="assets/images/down-arrow.png" class="arrow-up"/>
         </div>
         <div class="text-view">
          <ion-label class="title">QR Refund</ion-label>
          <ion-label class="content">Refund from merchant to customer</ion-label>
         </div>
         
         <ion-icon class="chevron-centered" name="chevron-forward-outline"></ion-icon>
 
      </div>

      

</ion-content>
<ion-footer>
  <app-footer class="dark" [isQRSelected]="true"></app-footer>
</ion-footer>