.main {
    width: 100%;
    height: 100%;
    padding: 25px;
    background: var(--ion-color-dark);
}

app-footer.dark{
    background: var(--ion-color-dark);
}

.logo{
    width: 120px;
    height: 120px;
    margin-top: 50px;
}

.my-qr-code-text{
    font-size: 27px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 60px;
    color: white;
    text-align: center;
    align-self: center;
    margin: auto;
}

.centered-white {
    background-color: white;
    margin-top: 30px;
    width: 90%;
    height: 300px;
    border-radius: 30px;
    align-self: center;
    margin: auto;
    padding: 30px;
}

.user-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.profile-name{
    font-size: 10px;
}

.user-name{
    font-weight: bold;
}

.qr-code-img{
    width: 180px;
    height: 180px;
    align-self: center;
    margin: auto;
}

.tip-view{
    background-color: #4e4784;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    margin-top: 70px;
    height: 105px;
    padding: 20px 15px;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.purple-bg{
    height: 55px;
    border-radius: 10px;
    background-color: #6057a8;
    display: flex;
    flex: 0.8;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bulb-icon{
    color: white;
    font-size: x-large;
}

.arrow-up {
    position: absolute;
    right: 0;
    top: 0;
}

// .tip-text{
//     color: white;
//     width: 72%;
//     margin-left: 20px;
//     font-size: 11px;
//     margin-top: 10px;
// }

.text-view{
    width: 60%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.title{
    font-weight: 500;
    color: white;
    font-size: 15px;
}

.content{
    color: var(--ion-color-light);
    font-size: 11px;
    margin-top: 10px;
}

.chevron-centered{
    color: white;
    align-self: center;
    margin: auto;
    font-size: large;
}