<ion-header class="header" class="ion-no-border">
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideUserImg]="false" [hideNotification]="false" [hideMore]="false">
    </app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom" fullscreen="true">

  <div class="bg-component">
    <!-- <ion-icon name="flash-outline" class="icon"></ion-icon> -->
    <img src="../../../assets/images/electricity.png" />
    <ion-label class="my-title">Prepaid Electricity Bill</ion-label>
  </div>

  <form [formGroup]="aForm">

    <ion-row class="margin-top-30">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">Select Meter Number</p>

          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="meterId">
              <ion-select-option *ngFor="let item of meterNumbers" [value]="item._id">{{item.meterNumber}}
              </ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>

        </div>
      </ion-col>

      <!-- error message -->
      <div *ngIf="(meterId.invalid && meterId.touched) || meterId.dirty || submitted" class="error-text">
        <small *ngIf="meterId.errors?.required">{{'meterNumber.Required' | translate }}</small>
        <small *ngIf="meterId.errors?.minlength">{{'meterNumber.Min_Length' | translate}}</small>
      </div>

    </ion-row>

    <ion-row class="margin-top-20">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'Enter_Amount' | translate}}</p>
          <ion-input type="text" class="Enter_Amount_input" placeholder="{{'Enter_Amount' | translate}}"
            formControlName="amount"></ion-input>
          <div class="bottomLine"></div>

        </div>
      </ion-col>

      <!-- error message -->
      <div *ngIf="(amount.invalid && amount.touched) || amount.dirty || submitted" class="error-text">
        <small *ngIf="amount.errors?.required">{{'amount.Required' | translate }}</small>
        <small *ngIf="amount.errors?.pattern">{{'amount.Invalid' | translate}}</small>
      </div>


    </ion-row>

    <ion-row class="margin-top-30" style="width: 90%;">
      <ion-col ion-col (click)="OnCardSelected(true)">
        <div [class.selected-method]="cardSelected" [class.unselected-method]="!cardSelected">
          <!-- <ion-icon name="card-outline" class="payment-icon"></ion-icon> -->
          <img src="../../../assets/images/credit-card.png" />
        </div>
        <ion-label class="centered centered-text">Card</ion-label>
      </ion-col>

      <ion-col (click)="OnCardSelected(false)">
        <div [class.selected-method]="!cardSelected" [class.unselected-method]="cardSelected">
          <img src="../../../assets/images/mobile-wallet.png" />
        </div>

        <ion-label class="centered centered-text">Mobile Wallet</ion-label>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="cardSelected">
      <ion-col size="12 ">
        <div>
          <p class="header-text-purple">{{'customer_services.Card_Number' | translate}}</p>
          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
              <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
              <!-- <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item|json}}</ion-select-option> -->
              <!-- {{item|json}} -->
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>
        </div>
      </ion-col>
    </ion-row>
    <!-- error message -->
    <div *ngIf="(cardId.invalid && cardId.touched) || cardId.dirty || submitted" class="error-text">
      <small [hidden]="!cardSelected" *ngIf="!cardId.value">{{'cardNumber.enter_Card_num' | translate }}</small>
    </div>

  </form>

  <ion-button class="btn-main" color="dark" (click)="onSubmit()">Continue</ion-button>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>