.bg-component{
    background-color: #fdf7e9;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: large;
}

.icon{
    font-size: 50px;
    color: #f1c560;
}

.detail{
    margin-top: 40px;
    font-size: small;
}

.Enter_Amount_input{
    padding: 10px !important;
}

.down-icon{
    color: gray;
    font-size: larger;
}

.my-title{
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
}

.centered-text{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    color: var(--ion-color-gray);
    font-size: 14px;
}