<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
    
    <ion-row class="margin-top-50">
      <div class="delete-view centered">
        <img src="../../../assets/images/delete-card.png"/>
      </div>
    </ion-row>

    <ion-row class="margin-top-30">
      <ion-label class="my-title">{{'Delete_card.title'| translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-label class="message">{{'Delete_card.message'| translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-30" style="width: 85%;">
      <ion-col (click)="onDelete()">
        <div class="yes-view centered">
          <ion-label>{{'Delete_card.yes'| translate}}</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="no-view centered">
          <ion-label>{{'Delete_card.no'| translate}}</ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-content> 

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>
