.delete-view{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    background-color: var(--ion-color-light);
    font-size: 50px;
    color: white;
}

.yes-view{
    width: 100%;
    height: 55px;
    border-radius: 10px;
   background-color: var(--ion-color-dark);
   color: white;
}

.no-view {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 1px solid var(--ion-color-dark);
    color: var(--ion-color-dark);
}

.my-title {
    font-size: 24px;
    font-weight: bold;
}

.message{
    font-size: 12px;
    color: #424243;
}