<ion-content class="main ion-padding">
    <app-header [backBtnHidden]="false" [notificationHidden]="false"></app-header>

    <ion-row class="margin-top-20"> 
      <ion-label class="heading-text">Payments From Card</ion-label>
    </ion-row>

    <!-- <ion-row class="margin-top-20 centered">
      <img src="../../../assets/images/card.png"/>
    </ion-row> -->

    <ion-card class="card">

      <div class="round-view"></div>
      <div class="toggle-view">
        <ion-toggle></ion-toggle>
        <p class="card-name">Master Card</p>
      </div>
      

      <div class="margin-top-60">
        <ion-label class="card-number">
          1234 5678 9101 1121
        </ion-label>

        <div class="flex-row">

          <ion-label>
            <p class="card-header-lbl">Name on Card</p>
            <p class="card-content-lbl">Muhammad Rasheed</p>
          </ion-label>

          <ion-label style="margin-left: 40px;">
            <p class="card-header-lbl">Expiry</p>
            <p class="card-content-lbl">10/21</p>
          </ion-label>

        </div>

      </div>

    </ion-card>

    <div class="input">
      <p class="headerText">Amount</p>
      <ion-input
        type="text"
        placeholder="Enter Amount"
        color="white">
    </ion-input>
      <div class="bottomLine"></div>
    </div>

    <ion-button
      class="btn-main"
      style="margin-top: 80px"
      (click)="ShowPaymentSuccessModal()"
      >Pay Now</ion-button
    >

    <app-footer [isQRSelected]="true"></app-footer>

</ion-content>

<!-- <div class="modal fade my-account-modal" #successModal id="paymentSuccessModal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">  
    <div class="modal-content">
      <div class="modal-body gps-body">
        <h2> Success</h2>
        <h3 class="message">Done</h3>

      </div>
      <div class="modal-footer forgot-btn">
        <button type="button" class="allow-btn" data-dismiss="modal" style="color: white; width: 100;"
          (click)="HidePaymentSuccessModal()">Ok</button>
      </div>
    </div>
  </div>
</div> -->
