ion-toggle {
    zoom: 0.6;
}

.main {
    width: 100%;
    height: 100%;
    padding: 15px;
    background : var(--ion-color-dark);
}

.heading-text{
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 20px;
}

.input{
    margin-top: 50px;
    color: var(--ion-color-white);
}

.card{
    height: 160px;
    width: 90%;
    background: var(--ion-color-primary);
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.card-number{
    font-weight: bold;
    color: white;
    font-size: 12px;
}

.card-header-lbl {
    color: white;
    font-size: 9px;
    margin-top: 10px;
}

.card-content-lbl {
    color: white;
    font-size: 11px;
    font-weight: bold;
}

.round-view{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 20px solid var(--ion-color-light);
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -90px;
    margin-right: -90px;
}

.toggle-view{
    position: absolute;
    right: 5%;
    top:10%
}

.card-name{
    font-size: 7px;
    color: white;
    font-weight: bold;
    margin-top: -5px;
    margin-left: -5px;
}