<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-row class="margin-top-40">
    <ion-label class="title">{{'card_tranfer.title' | translate}}</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-label class="detail">{{'card_tranfer.details' | translate}}</ion-label>
  </ion-row>

  <form [formGroup]="aForm">
    <ion-grid>
  <ion-row class="margin-top-30">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'card_tranfer.Transfer_From' | translate}}</p>

        <div class="select-view">
          <ion-select placeholder="{{'card_tranfer.Select_Card' | translate}}" formControlName="cardId">
            <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
          </ion-select>
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>
    <div 
    *ngIf="(transfer.invalid && transfer.touched) || transfer.dirty || submitted" 
    class="error-text">
     <small *ngIf="transfer.errors?.required">{{'card_tranfer.transfor_error' | translate}}</small>

   </div>

  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'card_tranfer.Enter_Beneficiary_Name' | translate}}</p>

        <div class="select-view">
          <ion-select placeholder="{{'card_tranfer.Select' | translate}}" formControlName="accountId">
            <ion-select-option *ngFor="let item of bankAccounts" [value]="item._id">{{item.nickName}}</ion-select-option>
          </ion-select>
          
          <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
        </div>

        <div class="bottomLine"></div>
      </div>
    </ion-col>
    <div *ngIf="(benificary.invalid && benificary.touched) || benificary.dirty || submitted" class="error-text">
     <small *ngIf="benificary.errors?.required">{{'card_tranfer.Benificary_name' | translate}}</small>
   </div>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">{{'card_tranfer.Amount' | translate}}</p>
        <ion-input type="number" class="amount_input" placeholder="{{'card_tranfer.Enter_Amount' | translate}}" formControlName="amount"></ion-input>
        <div class="bottomLine"></div>
      </div>
    </ion-col>

    <div *ngIf="(Amount.invalid && Amount.touched) || Amount.dirty || submitted" class="error-text">
     <small *ngIf="Amount.errors?.required">{{'card_tranfer.Amount_error' | translate}}</small>
   </div>

  </ion-row>
</ion-grid>
</form>

  <ion-row class="margin-top-20">
    <ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'card_tranfer.continue' | translate}}</ion-button>
  </ion-row>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
