<ion-content>
    <img class="splash-round" src="../../../assets/images/splash-round.png"/>
    
 <div class="main">

   <div class="vertically-center">
    <img  src="../../../assets/images/logo.png"/> 
   </div>
  
    
   <div class="flex-row slideRight">
    <div><ion-spinner [hidden]="!loading"></ion-spinner></div> 
    <p [hidden]="loading"(click)="moveToLogin()">Slide right to login or register</p>
    <img [hidden]="loading" class="chevron-right" src="../../../assets/images/chevron-right-sm.png"/> 
   </div>

   
 </div>
</ion-content>
