.main {
    margin: auto;
    width: 100%;
    height: 80%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logo{
    width: 120px;
    height: 120px;
    margin: auto;
    align-self: center;
}

.slideRight{
    align-self: flex-end;
    font-size: small;
    color: var(--ion-color-light);
}

.splash-round{
    margin-left: -71px;
    margin-top: -71px;
}

.chevron-right {
    height: 20px; 
    margin-top: 12px;
}