.main {
    width: 100%;
    height: 100%;
    padding: 25px;
    background: var(--ion-color-dark);
}

.logo{
    width: 120px;
    height: 120px;
    margin-top: 50px;
}

.my-qr-code-text{
    font-size: 22px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 60px;
    color: white;
    text-align: center;
    align-self: center;
    margin: auto;
}

.centered-white {
    background-color: white;
    margin-top: 30px;
    width: 90%;
    height: 320px;
    border-radius: 30px;
    align-self: center;
    margin: auto;
    padding: 30px;
}

.user-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.profile-name{
    font-size: 10px;
}

.user-name{
    font-weight: bold;
    font-size: 13px;
}

.qr-code-img{
    width: 180px;
    height: 180px;
    align-self: center;
    margin: auto;
    margin-left: 20px;
}

.tip-view{
    background-color: #4e4784;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    margin-top: 100px;
    height: 85px;
    padding: 15px;
    display: flex;
    flex-direction: row;
}

.purple-bg{
    height: 50px;
    border-radius: 10px;
    background-color: #6057a8;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bulb-icon{
    color: white;
    font-size: x-large;
}

.tip-text{
    color: var(--ion-color-light);
    width: 72%;
    margin-left: 20px;
    font-size: 11px;
    margin-top: 10px;
}