.logo{
    width: 200px;
    height: 200px;
    margin: auto;
    align-self: center; 
}

.signInText{
    font-size: 28px;
    margin-top: 3vh;
    font-weight: bold;
    margin-bottom: 2vh; 
    color: white;
}

.input{
    margin-top: 20px;
    color: white;
}

.eye-Icon{
    color: var(--ion-color-primary);
    font-size: larger;
    margin-left: 10px;
}

.login-btn{
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 60px;
}

.forgot-password{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    color: var(--ion-color-light);
}

.signup-view{
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.no-account{
    font-size: 12px;
    color: var(--ion-color-light);
}

.singup-now{
    font-size: 12px;
    color: var(--ion-color-light);
    font-weight: bold;
    margin-left: 5px;
}