<ion-content class="main ion-padding">
    <ion-img class="logo" src="assets/images/logo-white.png"></ion-img>
    <h2 class="signInText">Sign In</h2>

    <form [formGroup]="aForm" autocomplete="off">

      
      <div class="input">
        <p class="headerText">Mobile Number</p>
        <ion-input type="text" placeholder="Enter Mobile Number" formControlName="mobileNumber" (input)="onTelephoneChange($event)"></ion-input>
        <div class="bottomLine"></div>
      </div>
      
      <div class="input"> 
        
        <p class="headerText">Password</p>
  
        <div class="select-view">
          <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password" formControlName="password"></ion-input>
          <ion-img class="eye-Icon" (click)="showPassword = !showPassword" src="assets/images/eye.png">
          </ion-img>
        </div>
  
        <div class="bottomLine"></div>
      </div>

    </form>

    

    <ion-button class="login-btn" (click)="login()">Sign In</ion-button>

    <p class="forgot-password" (click)="navigate('pages/forgot-password')">
      Forgot Password?
    </p>

    <div class="signup-view">
      <p class="no-account">Don't have an account?</p>
      <p class="singup-now" (click)="navigate('pages/signup')">Signup Now</p>
    </div>
</ion-content>
