<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="drawer">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>
            <div class="horizontal-centered-flex">
              <img class="user-img" [src]="user?.profilePic" />
      <ion-label class="user-name">
        Hi, {{user?.fullName}}
      </ion-label>
      
        <ion-label class="ccid">CCID: 12345 6789</ion-label>
      
    </div>
           
            
          </ion-list-header>
          

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <img [src]="p.icon" class="menu-icon"/>
              <!-- <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" class="menu-icon"></ion-icon> -->
              <ion-label (click)="handleClicked(p.title)" color="gray">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
