<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="margin-top-40">
    <ion-label class="my-title">Details of Local Cash Circle Account</ion-label>
  </ion-row>

  <ion-row class="margin-top-30">
    <ion-label class="detail">Details of your payee</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-col>
      <div>
        <p class="header-text-purple">Account Name</p>
        <ion-label class="detail-label">{{data.fullName}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Payee ID</p>
        <ion-label class="detail-label">{{data.circleCashId}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Mobile Number</p>
        <ion-label class="detail-label">{{data.mobileNumber}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <div>
        <p class="header-text-purple">Added Beneficiary Name</p>
        <ion-label class="detail-label">{{data.BenefeciaryName}}</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="margin-top-40">
  <ion-button class="btn-main" color="dark" (click)="onConfirm()">Confirm & Save</ion-button>
</ion-row>
</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>
