<ion-header class="ion-no-border">
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom" fullscreen="true">
  
    <ion-row class="margin-top-70" (click)="navigate('pages/telecom-service-providers')">
      <div class="menu-view"> 
        <ion-label>Mobile Company</ion-label>
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>
  
    <ion-row class="margin-top-30" (click)="navigate('pages/electricity-purchase')"> 
      <div class="menu-view">
        <ion-label>Electric Company</ion-label>
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-30" (click)="navigate('pages/add-education-service')"> 
      <div class="menu-view">
        <ion-label>Education</ion-label>
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

    <ion-row class="margin-top-30" (click)="navigate('pages/government-services')"> 
      <div class="menu-view">
        <ion-label>Government Services</ion-label>
        <ion-icon name="chevron-forward-outline" class="chevron-right"></ion-icon>
      </div>
    </ion-row>

  </ion-content>

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>