.centered-vertical-row{
    display: flex;
    align-items: center;
}

.menu-view {
    background-color: var(--ion-color-primary-light);
    width: 100%;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-size: 17px;
}

.chevron-right {
    color: #7568ba;
    font-size: large;
}