<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

  <ion-row >
    <ion-col size="6">
      <div class="relative outer-image">
        <img class="user-img" [src]="profilePic"/>
        <div class="white-round centered" (click)="selectImage()">
          <img src="assets/images/plus-circle.png"/>
        </div>      
      </div>
    </ion-col>
    <ion-col size="6">
      <ion-button class="logout-btn" color="primary" shape="round" (click)="logout()" >{{'Logout.logout' | translate }}</ion-button>
    </ion-col>
    
    
  </ion-row>
  <form [formGroup]="uForm">
    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <!-- {{uForm.value|json}} -->
            <p class="header-text-purple">{{'signup.FullName' | translate }}</p>
            <ion-input class="input_style" type="text" placeholder="{{'signup.FullName' | translate }}" formControlName="fullName"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
        <!-- error message -->
        <div *ngIf="(fullName.invalid && fullName.touched) || fullName.dirty || submitted" class="error-text">
          <small *ngIf="fullName.errors?.required">{{'name.Required'  | translate }}</small>
          <small *ngIf="fullName.errors?.minlength">{{'name.Min_Length'  | translate }}</small>
        </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col>
        <div>
          <p class="header-text-purple">{{'Date.Date_of_birth'  | translate }}</p>

          <div class="select-view">
            <!-- <ion-input type="text" placeholder="Select"></ion-input> -->
            <ion-datetime  displayFormat="DDDD MMM D, YYYY" min="1900" max="2021" formControlName="dob"></ion-datetime>
            <ion-icon name="chevron-down-outline" class="select-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-10" style="width: 90%;">
      <ion-col>
        <div>
          <p class="header-text-purple" style="margin-bottom: 10px;">{{'Gender.Gender'  | translate }}</p>
          <ion-row>
            <ion-col (click)="gender = 1">
              <div [class.selected-view]="gender == 1" [class.unselected-view]="gender == 2">
                <ion-label class="gender">{{'Gender.Male'  | translate }}</ion-label>
              </div>
            </ion-col>

            <ion-col (click)="gender = 2">
              <div [class.selected-view]="gender == 2" [class.unselected-view]="gender == 1">
                <ion-label class="gender">{{'Gender.Female'  | translate }}</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'address.Address'  | translate }}</p>
          <ion-input class="input_style" type="text" placeholder="{{'address.enter_Address' | translate}}" formControlName="address"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
      <!-- error message -->
      <div *ngIf="(address.invalid && address.touched) || address.dirty || submitted" class="error-text">
        <small *ngIf="address.errors?.required">{{'address.Required' | translate }}</small>
      </div>
    </ion-row>

    <ion-row class="margin-top-10 password-view" (click)="navigate('pages/update-password')">
      <ion-col size="11">
        <div class="flex-column">
          <p class="header-text-purple">{{'Password'  | translate }}</p>
          <ion-input type="text" placeholder="{{'signup.Enter_Password' | translate}}"></ion-input>
        </div>
      </ion-col>

        <ion-col size="1" class="centered">
          <ion-icon size="34px" name="chevron-forward-outline" class="chevron-right"></ion-icon>
        </ion-col>
      
    </ion-row>
  </form>


  <ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'creditdebit.Save' | translate}}</ion-button>
</ion-content> 

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
