.outer-image{
    width: 120px;
}

.user-img {
    width: 120px;
}

.selected-view{
    width: 100%;
    height: 60px;
    border: 2px solid var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
}

.unselected-view{
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
}

.password-view{
    background-color: var(--ion-color-primary-light);
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    border-radius: 10px;
}

.white-round {
    background-color: white;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -12px;
    margin-right: -14px;
}

.gender{
    color: var(--ion-color-gray);
    font-size: 13px;
}

.chevron-right{
    font-size: 34px;
    color: #7568BA;
}

.logout-btn {
    position: absolute;
    top: 20px;
    right: 0;
    transform: translateY(-50%);
}
ion-datetime{
    padding: 1px;
}
.select-icon{
    font-size: large;
    color: #7568BA;
    position: absolute;
    margin-left: 92%;
}
.input_style{
    padding-left: 9px !important;
}


.select-image-css .action-sheet-group {
    background: #e5e5e5;
    font-size: 17px;
    color: #1b1b1b;
    font-weight: 500;
    justify-content: center;
    .images-icon {
        ion-icon {
            --color: #4fce5d;
        }
    }
    .camera-icon {
        ion-icon {
            --color: #3b5998;
        }
    }
    .close-icon {
        ion-icon {
            --color: #f9405b;
        }
    }
}