.message{
    font-size: 8px;
    margin-right: 80px;
    margin-top: 10px;
    color: var(--ion-color-dark);
}

.list-row{
    margin-top: 10px;
}

.image {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
 
.sdg{
    margin-left: 20px;
    font-size: 10px;
    margin-top: 5px;
    color: #027302;
    font-weight: 600;
}

.name{
    font-size: 11px;
    color: var(--ion-color-light);
}

.detail{
    font-size: 8px;
    color: var(--ion-color-dark);
    margin-top: 6px;
}

.amount{
    font-weight: bold;
    font-size: 18px;
    color: var(--ion-color-primary);
    margin-left: -5px;
}

.date{
    font-size: 8px;
    color: var(--ion-color-dark);
    text-align: center;
    margin-top: 3px;
}

.my-title{
    font-size: 18px;
    font-weight: bold;
}