<ion-header class="ion-no-border"> 
  <ion-toolbar>
    
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">
    <ion-row>
    <ion-label class="my-title">E-Invoices List</ion-label>
  </ion-row>
  <ion-row>
  <ion-label class="message">You can Add edit all your cards below, just select card from top and update information in bottom.</ion-label>
</ion-row>

<ion-list class="margin-top-20">
  <ion-item *ngFor="let d of dataList; let i = index" detail="true" class="ion-no-padding">
    <ion-grid (click)="openDetails(d)">
    <ion-row class="list-row">
      <ion-col size="2">
        <img class="image"
        src="assets/images/approve-success-payment@2x.png"/>
      </ion-col>

      <ion-col  size="6"> 
        <ion-label class="name">{{d.receiveMoneyBy}}</ion-label>
        <ion-label class="detail">Transaction # {{d._id}}</ion-label> 

      </ion-col>
      <!-- {{d|json}} -->
      <ion-col>  
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="sdg">SDG</ion-label>
            </ion-col>
            <ion-col>
              <ion-label class="amount">{{d.isSender ? d.send_amount : d.receive_amount}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>  
        <ion-label class="date">{{d.updatedAt | date: 'dd-MMM-yy'}}</ion-label> 
      </ion-col>

    </ion-row>
  </ion-grid>

  </ion-item>
</ion-list>
</ion-content> 

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
