<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row class="margin-top-20">
      <ion-label class="title">{{'generate_voucher.Generate_Voucher'  | translate }}</ion-label>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-label class="detail">{{'generate_voucher.details'  | translate }}</ion-label>
    </ion-row>

    <form [formGroup]="aForm">
      <ion-grid>

    <ion-row class="margin-top-30">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'generate_voucher.Number'  | translate }}</p>

          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="mobileId">
              <ion-select-option *ngFor="let item of mobileAccounts" [value]="item._id">{{item.mobileNumber}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>
        </div>
      </ion-col>

      <div *ngIf="(mobileId.invalid && mobileId.touched) || mobileId.dirty || submitted" class="error-text">
        <small *ngIf="mobileId.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
      </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'generate_voucher.CardNumber'  | translate }}</p>

          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="cardId">
              <ion-select-option *ngFor="let item of cards" [value]="item._id">{{item.cardNumber}}</ion-select-option>
            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>
        </div>
      </ion-col>

      <!-- error message -->
  <div *ngIf="(cardId.invalid && cardId.touched) || cardId.dirty || submitted" class="error-text">
    <small *ngIf="cardId.errors?.required">{{'cardNumber.Required'  | translate }}</small>
  </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'generate_voucher.Amount'  | translate }}</p>
          <ion-input type="text" class="amount_style" placeholder="Enter Amount" formControlName="amount"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

       <!-- error message -->
  <div *ngIf="(amount.invalid && amount.touched) || amount.dirty || submitted" class="error-text">
    <small *ngIf="amount.errors?.required">{{'amount.Required'  | translate }}</small>
    <small *ngIf="amount.errors?.pattern">{{'amount.Invalid'  | translate }}</small>
  </div>
    </ion-row>

  </ion-grid>
</form>

    <ion-row class="margin-top-20">
      <ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'generate_voucher.Continue'  | translate }}</ion-button>
    </ion-row>

   

  </ion-content> 

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>