<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <app-header-bar [hideBalance]="false" [hideMore] = "false" [hideNotification]="false" [hideUserImg]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding padding-bottom">

    <ion-row class="bg-view">
      <ion-col size="5">
      <img src="../../../assets/images/receipt-home.png">
    </ion-col>
    <ion-col size="6.5" class="centered">
      <ion-label class="message">{{'Home.message' | translate}}</ion-label>
    </ion-col>
    </ion-row>

    <ion-row class="margin-top-30">
      <ion-label class="heading">{{'Home.Features' | translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-20" >

      <ion-col size="3.5" (click)="navigate('pages/card-transfer')">
        <div class="colored-bg">
          <img src="../../../assets/images/cash-transfer.png"/>
          <!-- <ion-icon class="centered-icon" name="cash-outline"></ion-icon> -->
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Cash_Transfer' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/prepaid-electricity-bill')">
        <div class="colored-bg" style="background-color: #fdf7e9;">
          <img src="../../../assets/images/electricity-sm.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Electricity_Purchase' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/generate-voucher')">
        <div class="colored-bg" style="background-color: #e9fff2;">
          <img src="../../../assets/images/generate-voucher.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Generate_Voucher' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

    </ion-row> 


    <ion-row class="margin-top-30">

      <ion-col size="3.5" (click)="navigate('/account-transfer')">
        <div class="colored-bg" style="background-color: #fdedf8;">
          <img src="../../../assets/images/account-transfer.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Account_Transfer' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/cards-and-details')">
        <div class="colored-bg" style="background-color: #eaedfe;">
          <img src="../../../assets/images/update-cards.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">Update & Add Cards</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/telecom-services')">
        <div class="colored-bg" style="background-color: #ffe6ec;">
          <img src="../../../assets/images/telecommunication-service-sm.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Telecomunication_Services' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

    </ion-row> 


    <ion-row class="margin-top-30">

      <ion-col size="3.5" (click)="navigate('pages/government-services')">
        <div class="colored-bg" style="background-color: #e9f6fe;">
          <img src="../../../assets/images/government-services.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Government_Services' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/generate-pin')">
        <div class="colored-bg" style="background-color: #dbfcdf;">
          <img src="../../../assets/images/generate-pin.png"/>
          <img src="../../../assets/images/generate-pin-internal.png" style="position: absolute;"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Generate_Pin' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

      <ion-col size="3.5" class="margin-left-20" (click)="navigate('pages/education-bills-and-fees')">
        <div class="colored-bg" style="background-color: #fee4e3;">
          <img src="../../../assets/images/education-sm.png"/>
        </div>
        <ion-row class="margin-top-10">
        <ion-label class="centered-text">{{'Home.Education' | translate}}</ion-label>
      </ion-row>  
      </ion-col>

    </ion-row> 

</ion-content>

<ion-footer>
  <app-footer [isHomeSelected]="true"></app-footer>
</ion-footer>
