.main{
    padding: 15px;
}

.availableBalanceLabel{
    font-size: 12px;
    color: gray;
}

.avaialableBalance{
    font-weight: bold;
    font-size: x-large;
}

.user-img{
    width: 32px;
    height: 32px;
    border-radius: 5px;
}

.side-icon{
   // margin: auto;
    font-size: medium;
    margin-left: 7px;
}
.centered-vertical-row{
    display: flex;
    align-items: center;
}
.bg-view{
    background: var(--ion-color-primary);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.message{
    color: white;
    font-size: 12px;
    margin-top: -7px;
}

.colored-bg{
    background-color: #f1effc;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.heading{
    font-weight: bold;
    font-size: 12.5pt;
}

.centered-icon{
    margin: auto;
    align-self: center;
    font-size: 40px;
}

.centered-text{
    text-align: center;
    font-size: 9px;
    margin: auto;
    color: var(--ion-color-gray);
}