<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBalance]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

  <ion-row class="margin-top-70">
    <ion-label class="title">{{'government_services.GovernmentServices' | translate}}</ion-label>
  </ion-row>

  <ion-row class="margin-top-70" (click)="navigate('pages/e15-services')">
    <div class="menu-view">
      <ion-label>{{'government_services.Services' | translate}}</ion-label>
      <ion-icon name="chevron-forward-outline" style="font-size: large;"></ion-icon>
    </div>
  </ion-row>

  <ion-row class="margin-top-30" (click)="navigate('pages/customs-services')">
    <div class="menu-view">
      <ion-label>{{'government_services.Customs_Services' | translate}}</ion-label>
      <ion-icon name="chevron-forward-outline" style="font-size: large;"></ion-icon>
    </div>
  </ion-row>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>