.title{
    font-weight: bold;
    font-size: 28px;
}

.menu-view {
    background-color: var(--ion-color-primary-light);
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}