.availableBalanceLabel{
    font-size: 10px;
    color: #707070;
}

.avaialableBalance{
    font-weight: bold;
    font-size: 24px;
    margin-right: 5px;
}

.user-img{
    width: 34px;
    height: 34px;
    border-radius: 10px;
    margin-right: 10px;
}

.side-icon{
   // margin: auto;
    font-size: medium;
    margin-left: 12px;
}

.notification-icon{
  //  margin: auto;
    font-size: 22PX;
    margin-left: 10px;
    margin-bottom: 5px;
}

.centered-vertical-row{
    display: flex;
    align-items: center;
}
.notification-view{
    margin-right: 10px;
}
.notfication-badge{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--ion-color-primary);
    position: absolute;
    top: 0;
    margin-left: 14px;
    margin-top: 30px;
}

.back-btn-view{
    background: var(--ion-color-primary);
    width: 40px;
    height: 40px;
    border-radius: 10px;
}