<div class="flex-row-space-between ion-padding">
  <div class="flex-column" [hidden]="hideBalance">
    <ion-label class="availableBalanceLabel">Available Balance</ion-label>
    <div class="flex-row">
      <ion-label class="avaialableBalance">{{balanceSDG}}</ion-label>
      <!-- <img src="assets/images/chevron-down-gray.png"/> -->
      <div class="centered">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </div>
  </div>

  <div class="back-btn-view centered" [hidden]="hideBackBtn" (click)="back()">
    <img src="assets/images/chevron-left-white.png" />
  </div>

  <div class="centered-vertical-row">
    <img
      class="user-img"
      [hidden]="hideUserImg"
      [src]="user.profilePic"
      (click)="navigate('pages/user-profile')"/>

    <div class="centered-vertical-row">
      <div
        [hidden]="hideNotification"
        class="notification-view centered"
        (click)="navigate('pages/notifications')">
        <img src="assets/images/notification.png" />
        <!-- <ion-icon class="notification-icon" name="notifications-outline"></ion-icon> -->
        <div class="notfication-badge"></div>
      </div>
      <img src="assets/images/more.png" (click)="openMenu($event)" [hidden]="hideMore" />
      <!-- <ion-icon name="apps-outline" class="side-icon"></ion-icon> -->
    </div>
  </div>
</div>
