<ion-content class="main ion-padding">
    <app-header [backBtnHidden]="false"></app-header>
    <div>
      <div class="light-bg centered">
      <img src="../../../assets/images/thumb-up.png"/> 
    </div>
       
       
       <h2 class="sign-up-text">{{'Account_Created' | translate}}</h2>
    </div>

    <ion-label class="message">{{'Account_created_Success' | translate}}</ion-label>
   
    <div class="margin-top-100">
      <ion-button class="btn-main" (click)="navigate('pages/home')">Continue</ion-button> 
    </div>
 
</ion-content>
