.main {
    width: 100%;
    height: 100%;
    padding: 25px;
    background: var(--ion-color-dark);
}

.light-bg {
    background-color: #4E4784;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: 50px;
}

.sign-up-text{
    font-size: 26px;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
    
} 

.login-btn{
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 60px;
}

.message{
    text-align: center;
    color: var(--ion-color-light);
    font-size: 15px;
}