<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-row class="margin-top-50">
    <ion-label class="title">Mobile Compnay</ion-label>
  </ion-row>

  <ion-row class="margin-top-10">
    <ion-label class="detail" color="#424243">Please select one service provider</ion-label>
  </ion-row>

  
  <ion-row class="margin-top-20">
    <ion-col>
      <div>
        <div class="colored-bg">
          <img src="https://d364xagvl9owmk.cloudfront.net/media-10-4-18/media/filer_public/7e/3e/7e3e7207-8f56-4ea1-bfb2-2db46068500f/uploadsnewszain_logo.jpg"
          class="logo"/>

        </div>
         <ion-row>
          <ion-label class="centered-text">Zain</ion-label>
         </ion-row>      
        
      </div>
      
    </ion-col>

    <ion-col>
      <div>
        <div class="colored-bg" style="background-color: #fdf7e9;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4GVleST0Vw-GL_qfb2hA0Z_c4wqN5B5o9ZboCKqZ1Wl1JAhnZydNs4c4cgrR4Lf6YHJE&usqp=CAU"
          class="logo"/>

        </div>
         <ion-row>
          <ion-label class="centered-text">MTN</ion-label>
         </ion-row>      
        
      </div>
      
    </ion-col>

    <ion-col>
      <div>
        <div class="colored-bg" style="background-color: #e9fff2;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0h3x2jpE1Dv3sGokud9Zutecb19dlz6M9PuZwhIbFrPqtGPLNpRobAUoheQhPw_VUXpA&usqp=CAU"
          class="logo"/>

        </div>
         <ion-row>
          <ion-label class="centered-text">Sudani</ion-label>
         </ion-row>      
        
      </div>
      
    </ion-col>

  </ion-row>

  <form [formGroup]="aForm">
    <ion-grid>

  <ion-row class="margin-top-20">
    <ion-col size="12">
  <div>
    <p class="header-text-purple">Connection Type</p>
    
    <div class="select-view">
      <ion-select placeholder="{{'Select' | translate}}" formControlName="connectionType">
        <ion-select-option value="PREPAID">Prepaid</ion-select-option>
        <ion-select-option value="POSTPAID">Post Paid</ion-select-option>
      </ion-select>
      <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
    </div>
    
    <div class="bottomLine"></div>

  </div>
</ion-col>

 <!-- error message -->
 <div *ngIf="(connectionType && (connectionType.invalid && connectionType.touched) || connectionType.dirty || submitted)" class="error-text">
  <small *ngIf="connectionType.errors?.required">{{'connectionType.Required'  | translate }}</small>
  
</div>
</ion-row>


  <ion-row class="margin-top-10">
    <ion-col size="12">
      <div>
        <p class="header-text-purple">Your Mobile Number</p>
        <ion-input type="text" placeholder="Enter mobile number" formControlName="mobileNumber"></ion-input>
        <div class="bottomLine"></div>
    
      </div>
      </ion-col>

      <!-- error message -->
 <div *ngIf="(mobileNumber && (mobileNumber.invalid && mobileNumber.touched) || mobileNumber.dirty || submitted)" class="error-text">
  <small *ngIf="mobileNumber.errors?.required">{{'mobileNumber.Required'  | translate }}</small>
  <small *ngIf="mobileNumber.errors?.invalid">{{'mobileNumber.Invalid'  | translate}}</small>
  <small *ngIf="mobileNumber.errors?.minlength">{{'mobileNumber.Min_Length'  | translate}}</small>
</div>
  
  </ion-row>

</ion-grid>
</form>

  <ion-button class="btn-main" color="dark" (click)="onSubmit()">Add Now</ion-button>
</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>
