.colored-bg{
    background-color: #f1effc;
    height: 90px;
    border-radius: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-text{
    text-align: center;
    font-size: 13px;
    margin: auto;
    margin-top: 12px;
    margin-left: 25px;
    color: var(--ion-color-gray);
}

.logo{
    width: 55%;
    object-fit:fill;
}