<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding padding-bottom">

    <ion-row class="margin-top-40">
      <ion-label class="title">{{'localbank.titles' | translate}}</ion-label>
    </ion-row>

    <ion-row class="margin-top-20">
      <ion-label class="detail" color="dark-gray">Please enter local bank account number in sudan</ion-label>
    </ion-row>
  
    <form [formGroup]="aForm">
      <ion-grid>
    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'localbank.Bank_Name' | translate}}</p>

          <div class="select-view">
            <ion-select placeholder="{{'Select' | translate}}" formControlName="bankName">
              <ion-select-option value="{{ 'bank.Agricultural_Bank_of_Sudan' | translate}}">{{'bank.Agricultural_Bank_of_Sudan' | translate}}</ion-select-option>
              <ion-select-option value="SASDB">{{'bank.Savings_and_Social_Development_Bank' | translate}}</ion-select-option>
              <ion-select-option value="IDB">{{'bank.Industrial_Development_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ENB">{{'bank.El_Nilien_Bank' | translate}}</ion-select-option>
              <ion-select-option value="BOK">{{'bank.Bank_of_Khartoum' | translate}}</ion-select-option>
              <ion-select-option value="RECB">{{'bank.Real_Estates_Commercial_Bank' | translate}}</ion-select-option>
              <ion-select-option value="FIB">{{'bank.Faisal_Islamic_Bank' | translate}}</ion-select-option>
              <ion-select-option value="SFB">{{'bank.Sudanese_French_Bank' | translate}}</ion-select-option>
              
              <ion-select-option value="NBOS">{{'bank.National_Bank_of_Sudan' | translate}}</ion-select-option>
              <ion-select-option value="BNMB">{{'bank.Blue_Nile_Mashreq_Bank' | translate}}</ion-select-option>
              <ion-select-option value="SIC">{{'bank.Sudanese_Islamic_Bank' | translate}}</ion-select-option>
              <ion-select-option value="TIB">{{'bank.Tadamon_Islamic_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ICDB">{{'bank.Islamic_Cooperative_Development_Bank' | translate}}</ion-select-option>
              <ion-select-option value="BBS">{{'bank.Baraka_Bank_(Sudan)' | translate}}</ion-select-option>
              <ion-select-option value="EDB">{{'bank.Export_Development_Bank' | translate}}</ion-select-option>
              <ion-select-option value="SSB">{{'bank.Saudi_Sudanese_Bank' | translate}}</ion-select-option>
              <ion-select-option value="WNB">{{'bank.Workers_National_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ARB">{{'bank.Animal_Resources_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ASIB">{{'bank.Al_Shamal_Islamic_Bank' | translate}}</ion-select-option>
              <ion-select-option value="FCB">{{'bank.Farmers_Commercial_Bank' | translate}}</ion-select-option>

              <ion-select-option value="ONB">{{'bank.Omdurman_National_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ABFAD">{{'bank.African_Bank_for_Trade_and_Development' | translate}}</ion-select-option>
              <ion-select-option value="BBA">{{'bank.Byblos_Bank_(Africa)' | translate}}</ion-select-option>
              <ion-select-option value="AB">{{'bank.Alsalam_Bank' | translate}}</ion-select-option>
              <ion-select-option value="SEB">{{'bank.Sudanese_Egyptian_Bank' | translate}}</ion-select-option>
              <ion-select-option value="UCB">{{'bank.United_Capital_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ASJB">{{'bank.Aljazeera_Sudanese_Jordanian_Bank' | translate}}</ion-select-option>
              <ion-select-option value="FB">{{'bank.Family_Bank' | translate}}</ion-select-option>
              <ion-select-option value="FIB">{{'bank.Financial_Investment_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ADNB">{{'bank.Abu_Dhabi_National_Bank' | translate}}</ion-select-option>
              <ion-select-option value="QNB">{{'bank.Qatar_National_Bank' | translate}}</ion-select-option>
              <ion-select-option value="ASD">{{'bank.Arab_Sudanese_Bank' | translate}}</ion-select-option>

            </ion-select>
            <ion-icon name="chevron-down-outline" class="down-icon"></ion-icon>
          </div>

          <div class="bottomLine"></div>
        </div>
      </ion-col>
        <!-- error message -->
        <div
        *ngIf="(bankName.invalid && bankName.touched) || bankName.dirty || submitted"
        class="error-text">
        <small *ngIf="bankName.errors?.required">{{'localbank.Benificiary_Bank_name_error' | translate}}</small>
      
      
      </div>

    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'localbank.Account' | translate}}</p>
          <ion-input type="number" formControlName="accountNumber" placeholder="Enter Account Number"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
                    <!-- error message -->
                    <div
                    *ngIf="(accountNumber.invalid && accountNumber.touched) || accountNumber.dirty || submitted"
                    class="error-text"
                  >
                  <small *ngIf="accountNumber.errors?.required"
                  >{{'localbank.Account_Number_error' | translate}}</small
                >
                <small *ngIf="accountNumber.errors?.minlength">
                  {{'localbank.Account_Number_error_minlength' | translate}}
                </small>
                <small *ngIf="accountNumber.errors?.maxlength">
                  {{'localbank.Account_Number_error_maxlength' | translate}}
                </small>
                  
              </div>

    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'localbank.Nick'| translate}}</p>
          <ion-input type="text" placeholder="Enter Beneficiary Nick Name" formControlName="nickName"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

              <!-- error message -->
              <div
              *ngIf="(nickName.invalid && nickName.touched) || nickName.dirty || submitted"
              class="error-text"
            >
            <small *ngIf="nickName.errors?.required"
            >{{'name.Required' | translate}}</small
          >
          <small *ngIf="nickName.errors?.minlength">
            {{'name.Min_Length' | translate}}
          </small>

            </div>
    </ion-row>

    <ion-row class="margin-top-30">
    <ion-label class="instruction">{{'localbank.instruction' | translate}}</ion-label>
  </ion-row>
  </ion-grid>
</form>

    <ion-button class="btn-main margin-top-10" color="dark" (click)="onSubmit()">Continue</ion-button>

</ion-content>

<ion-footer>
  <app-footer [isPaySelected]="true"></app-footer>
</ion-footer>