/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  ion-input {
    font-size: small; 
    margin-left: -5px;
    }

    ion-item { --border-color: var(--ion-color-primary-light); }

    ion-select::part(icon) {
        display: none !important;
    }

    ion-select {
        width: 100%;
        margin-left: -15px;
    }

    ion-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
    background-color: rebeccapurple;
    }
}


* {
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    --padding: 20px;
    --background: var(--ion-color-dark);
}

app-footer{
    background: #fff;
    display: block;
}

app-footer.dark{
    background: var(--ion-color-dark);
}

.bottomLine {
    border-bottom: 1px solid var(--ion-color-primary);
   // border: 1px solid var(--ion-color-primary);
}

.headerText{
    font-weight: bold;
    color: var(--ion-color-light);
    font-size: small;
    margin-bottom: 5px;
} 

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-column-space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.color-white{
    color: white;
}

.btn-main{
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 60px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.my-account-modal {
    z-index: 9999;
}
.margin-top-100{
    margin-top: 100px;
}
.margin-top-90{
    margin-top: 90px;
}
.margin-top-80{
    margin-top: 80px;
}
.margin-top-70{
    margin-top: 70px;
}
.margin-top-60{
    margin-top: 60px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-5{
    margin-top: 5px;
}

.margin-left-10{
    margin-left: 10px;
}
.margin-left-20{
    margin-left: 20px;
}
.padding-10{
    padding: 10px;
}
.header-text-purple{
    font-weight: bold;
    color: var(--ion-color-light);
    font-size: 15px;
    margin-bottom: 5px;
}

.btn-main{
    width: 100%;
    margin-top: 30px;
    color: white;
    height: 60px;
}

.container {
    padding: 15px;
    height: 100%;
}

.text-align-center{
    text-align: center;
    margin: auto;
}

.header-text{
    font-weight: bold;
    font-size: larger;
}

.vertically-center{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.x{
    display:inline-block;
    width:45px;
    height:50px;
    margin:10px;
    border-radius: 20%;
    align-self: center;
    --background:#4e4885;
    --padding-start:7px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: 26px;
}

.detail{
    font-size: 13px;
}

.select-view{
    display: flex;
    align-items: center;
}

.down-icon{
    font-size: large;
    color: #7568BA;
}

.selected-method{
    border: 2px solid var(--ion-color-primary);
    height: 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.unselected-method{
    background-color: #F8F8F8;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger; 
}
.payment-icon{
    font-size: 50px;
}
.inquiry-view-selected{
    background-color: var(--ion-color-primary);
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    font-weight: bold;
}

.inquiry-view{
    background-color: var(--ion-color-primary-light);
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
}

.pay-view{
    background-color: var(--ion-color-primary-light);
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
}

.pay-view-selected{
    background-color: var(--ion-color-primary);
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.relative {
    position: relative;
}

.centered-img {
    position: absolute;
    left: 25%;
    top: 25%;
    height: 20px;
    width: 15px;
    object-position:inherit;
}

.margin-vert-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.padding-bottom {
    --padding-bottom: 80px;
}

.absolute {
    position: absolute;
}

.error-text-dark{
    color: white;
}

.error-text{
    color: red;
}