<ion-header class="ion-no-border"> 
  <ion-toolbar>
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding">

    <ion-row class="margin-top-50">
      <ion-label class="title">{{'password.updtae_password'  | translate }}</ion-label>
    </ion-row>

    <form [formGroup]="aForm">
  <ion-grid>
    
  
    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'password.currentpassword'  | translate }}</p>
          <ion-input type="text" placeholder="{{'password.current_password'  | translate }}" formControlName="oldPassword"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>
      <!-- error message -->
  <div *ngIf="(currentPassword.invalid && currentPassword.touched) || currentPassword.dirty || submitted" class="error-text">
    <small *ngIf="currentPassword.errors?.required">{{'password.Required'  | translate }}</small>
    <small *ngIf="currentPassword.errors?.minlength">{{'password.Min_Length'  | translate }}</small>
  </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'password.newpassword'  | translate }}</p>
          <ion-input type="text" placeholder="{{'password.New'  | translate }}" formControlName="newPassword"> </ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

      <!-- error message -->
      <div *ngIf="(newPassword.invalid && newPassword.touched) || newPassword.dirty || submitted" class="error-text">
        <small *ngIf="newPassword.errors?.required">{{'password.Required'  | translate }}</small>
        <small *ngIf="newPassword.errors?.minlength">{{'password.Min_Length'  | translate }}</small>
      </div>
    </ion-row>

    <ion-row class="margin-top-10">
      <ion-col size="12">
        <div>
          <p class="header-text-purple">{{'password.Confirmpassword'  | translate }}</p>
          <ion-input type="text" placeholder="{{'password.Confirm'  | translate }}" formControlName="confirmPassword"></ion-input>
          <div class="bottomLine"></div>
        </div>
      </ion-col>

      <!-- error message -->
    <div *ngIf="(confirmPassword.invalid && confirmPassword.touched) || confirmPassword.dirty || submitted" class="error-text">
      <small *ngIf="confirmPassword.errors?.required">{{'password.Required'  | translate }}</small>
      <small *ngIf="confirmPassword.errors?.minlength">{{'password.Min_Length'  | translate }}</small>
    </div>
    </ion-row>


  </ion-grid>

</form>
  
    <ion-row class="margin-top-70">
      <ion-button class="btn-main" color="dark" (click)="onSubmit()">{{'password.ConfirmSave'  | translate }}</ion-button>
    </ion-row>
    
  </ion-content> 

  <ion-footer>
    <app-footer></app-footer>
  </ion-footer>  