<ion-content class="main ion-padding">
    <app-header [backBtnHidden]="false" [notificationHidden]="false"></app-header> 

    <ion-grid>
      <ion-row class="heading-view">
        <ion-text class="my-qr-code-text">Scan Code</ion-text>
      </ion-row>

      <ion-row class="margin-50">
        <div class="centered-white">
          <ion-img class="qr-code-img" (click)="qrScan()"
          src="https://www.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market_full/generator/dist/generator/assets/images/websiteQRCode_noFrame.png"> </ion-img>
  
        </div>
      </ion-row>

      <ion-row> 
        <ion-text class="tip-text">Align the QR code within the frame to scan and confirm to proceed the payment.</ion-text>
      </ion-row>

      <ion-row class="margin-top-10"> 
        <ion-text class="exit-text" (click)="navigateToHome()">Exit to Home Screen</ion-text>
      </ion-row>
    </ion-grid>

    
    
</ion-content>
<ion-footer>
  <app-footer class="dark" [isQRSelected]="true"></app-footer>
</ion-footer>