<ion-header class="header" class="ion-no-border"> 
  <ion-toolbar class="header">
    <app-header-bar [hideBackBtn]="false" [hideUserImg] ="false" [hideNotification]="false" [hideMore]="false"></app-header-bar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row>
      <ion-col class="flex-column" size="9">
        <ion-label class="my-title">{{'cash_circle_contact_list.title' | translate}}</ion-label>
        <ion-label class="my-detail margin-top-10">{{'cash_circle_contact_list.details' | translate}} </ion-label>
      </ion-col>

      <ion-col class="centered" size="3">
        <div class="delete centered">
          <img src="../../../assets/images/delete-purple-sm.png">
        </div>
      </ion-col>
    </ion-row>

    <ion-list class="margin-top-20">
      <ion-item *ngFor="let d of dataList; let i = index" class="ion-no-padding" detail="true">
        <div class="flex-row margin-top-20">
        <ion-thumbnail class="image-view ion-margin-end relative" style="margin-bottom: 20px;">
          <img
            class="notification-img"
            [src]="d.profilePic"
          />

          <div class="purple-circle centered">
            <img src="../../../assets/images/check-white.png"/>

          </div>

          <!-- <ion-icon name="checkmark-circle-outline" class="check-view"></ion-icon> -->
        </ion-thumbnail>

        <ion-label>
          <h2 class="name">{{d.fullName}}</h2>
          <div class="flex-row">
            <p class="card-type">Master Card </p>
            <p class="card-number">123456789</p>
          </div>
        </ion-label>
      </div>

        <!-- <ion-col size="9">
        <div class="flex-column">
        <ion-label class="name">Rameez Khan</ion-label>
        
        <div> 
          <ion-label class="card-type">Payee ID </ion-label>
          <ion-label class="card-number">123456789</ion-label>
        </div>
        
      </div>
      </ion-col>
       
      <ion-col size="1">
        <div class="chevron-right">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      </ion-col> -->
      </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <app-footer [isFavouriteSelected]="true"></app-footer>
</ion-footer>

