.my-title {
  font-size: 18px;
  font-weight: bold;
}

.my-detail {
  font-size: 8px;
}

.delete {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: var(--ion-color-primary-light);
}

.notification-img {
  width: 40px;
  border-radius: 8px;
}

.name {
  font-size: 12px;
  color: var(--ion-color-light);
}
.card-type{
    font-size: 9px;
    margin-top: 5px;
    color: var(--ion-color-dark);
    margin-right: 5px;
    margin-bottom: -3px;
}
.card-number{
    font-size: 11px;
    margin-top: 5px;
    font-weight: bold;
    color: var(--ion-color-dark);
}
.amount {
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: purple;
}

.time {
  font-size: 9px;
  text-align: center;
}

.chevron-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  color: rebeccapurple;
}

.image-view {
  width: 40px;
  height: 40px;
}

.check-view {
  position: absolute;
  bottom: 0;
  font-size: 25px;
  margin-left: -15px;
  margin-bottom: 5px;
  color: rebeccapurple;
}

.header {
  background-image: unset;
  background: unset;
}

.purple-circle {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background-color: var(--ion-color-primary);
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -8px;
  margin-bottom: -8px;
}
